{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

<div class="messageBody alert alert-info">
	Para agregar los estudiantes por excel, llena la siguiente plantilla y adjuntala al siguiente formulario <a class="btn btn-sm btn-primary" href="{% static "/templates/estudiantes_excel.xlsx" %}" target="blank"><i class="fa fa-download"></i> Descargar plantilla</a>
</div>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="card">
			<form method="post" action="/estudiantes/AgregarExcel" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card-body">
					{% for field in form_file %}
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				<div class="card-footer">
					<input type="hidden" name="tipoForm" value="addData">
					<button class="btn btn-sm btn-info" type="submit" name="upload"><i class="fa fa-upload"></i> Vista previa</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if preview %}
	{% if not file_exists %}
		<div class="messageBody alert alert-danger">
			Hubo un problema al procesar el archivo, por favor vuelve a cargarlo
		</div>
	{% else %}
		<hr />
		<div class="card">
			<div class="card-header">
				Datos a agregar
			</div>
			<div class="card-body">

				<div class="messageBody alert alert-warning">
					Si está seguro de los datos, presione el botón de ingresar, si no es así, rectifique los datos y vuelva a cargar el archivo excel
				</div>

				<div class="table-responsive">
					<table class="table table-sm table-bordered">
						<thead>
							<tr>
								{% for hea in headers %}
									<th>{{ hea }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for data in excel_data %}
								<tr>
									{% for key, cell in data.items %}
										<td>{{ cell }}</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<form method="get" action="/estudiantes/AgregarExcel">
				<div class="card-footer">
					<input type="hidden" name="add_final" value="yes">
					<input type="hidden" name="preview" value="yes">
					<input type="hidden" name="file" value="{{ file_name }}">
					<button class="btn btn-sm btn-success" type="submit" name="upload"><i class="fa fa-save"></i> Agregar los datos del archivo</button>
				</div>
			</form>
		</div>

	{% endif %}
{% endif %}

{% endblock %}
