{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
{{ form_asistencia.media }}

<div id="messageBody" class="messageBody alert alert-success">
	Si no sabes cómo agregar la asistencia, visualiza el tutorial en el <a href="#">siguiente enlace</a>
</div>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="card">
			<form method="get" action="/estudiantes/asistencia">
				<div class="card-body">
					{% for field in form_asistencia %}
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-info" type="submit"><i class="fa fa-eye"></i> Ver lista de estudiantes</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if lista_estudiantes %}
	{% if can_continue %}
		<hr />
		<div class="messageBody alert alert-primary">
			<b>Grupo: </b>{{ grupo.titulo }}<br /> <b>Fecha: </b> {{ fecha }}
		</div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-sm">
						<thead>
							<th>Nro.</th>
							<th style="width:40%">Estudiante</th>
							<th>Concepto</th>
							<th colspan=2>Horas</th>
							<th>excusa</th>
							<th>Acciones</th>
						</thead>
						<tbody>
							{% for estudiante in lista_estudiantes %}
								<tr>
									<td>{{ estudiante.nro }}</td>
									<td>{{ estudiante.estudiante }}</td>
									<td id="concepto{{estudiante.nro}}">{{estudiante.concepto}}</td>
									<td>
										<input type="hidden" value="{{estudiante.pk}}" id="estudiante{{estudiante.nro}}">
										<input style="width:140px;" class="horas" id="horas{{estudiante.nro}}" nro="{{estudiante.nro}}" last_value="{{estudiante.horas}}" type="range" value="{{estudiante.horas}}" min="0" max="6">
									</td>
									<td><button class="btn btn-info btn-xs" id="indicador{{estudiante.nro}}">{{estudiante.horas}}</button></td>
									<td>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" id="excusa{{estudiante.nro}}" class="custom-control-input" {% if estudiante.excusa %} checked {% endif%}>
											<label class="custom-control-label" for="excusa{{estudiante.nro}}">Si</label>
										</div>
									</td>
									<td><button nro="{{estudiante.nro}}" class="btn btn-xs btn-success save_inasistencia" id="save_data{{estudiante.nro}}" title="Guardar registro" disabled><i class="fa fa-save"></i></button></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<input type="hidden" value="{{fecha}}" id="fecha_valid">
	{% else %}
		<div class="messageBody alert alert-danger">
			El grupo seleccionado no corresponde con su su asignación, por favor compruebe sus datos.
		</div>
	{% endif %}
{% endif %}



{% endblock %}
