{% load static %}
{% load bootstrap4 %}

{% if edit_limitaciones %}
	<div class="modal fade" id="editLimitaciones">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar limitaciones del estudiante</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					{{ edit_limitaciones.media }}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in edit_limitaciones %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-12" field_class="col-md-12" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="limitaciones">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_anecdotario %}
	<div class="modal fade" id="editAnecdotario">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar anecdotario del estudiante</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					{{ form_edit_anecdotario.media }}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_anecdotario %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-12" field_class="col-md-12" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="anecdotario">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_avatar %}
	<div class="modal fade" id="editAvatar">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar foto de perfil del estudiante</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_avatar %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_avatar">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if user.es_admin %}
	<div class="modal fade" id="exportConstancia">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Constancia de estudio</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" target="_blank">
					{% csrf_token %}
					<div class="modal-body">
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Motivo</label>
							<textarea class="form-control col-md-12" name="motivo" id="exampleFormControlTextarea1" rows="4"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="informeForm">
						<input type="hidden" name="form_name" value="constancia_estudio">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-file-pdf-o"></i> Constancia de estudios</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

{% if form_edit_pass %}
	<div class="modal fade" id="editContrasena">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar contaseña del estudiante</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							Ingrese la nueva contraseña en 2 veces para evitar errores.
						</div>
						<div class="row justify-content-start">
						{% for field in form_edit_pass %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="password">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% if edit_personal and edit_acudiente and edit_salud and edit_adicional %}
	<div class="modal fade" id="editDataEstudiante">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar datos completos del estudiante</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">

						<ul class="nav nav-tabs mb-3" id="edit-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="edit-personal-tab" data-toggle="pill" href="#edit-personal" role="tab" aria-controls="edit-personal" aria-selected="true">Datos personales</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-familiar-tab" data-toggle="pill" href="#edit-familiar" role="tab" aria-controls="edit-familiar" aria-selected="true">Datos familiares</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-salud-tab" data-toggle="pill" href="#edit-salud" role="tab" aria-controls="edit-salud" aria-selected="true">Datos de salud</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-adicional-tab" data-toggle="pill" href="#edit-adicional" role="tab" aria-controls="edit-adicional" aria-selected="false">Información adicional</a>
							</li>
						</ul>

						<div class="tab-content" id="edit-tabContent">
							<div class="tab-pane fade show active" id="edit-personal" role="tabpanel" aria-labelledby="edit-personal">
								<div class="row">
									{{ edit_personal.media }}
									{% for field in edit_personal %}
										{% bootstrap_field field form_group_class="col-md-6" label_class="col-md-5" field_class="col-md-7" size="small" layout="horizontal" %}
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="edit-familiar" role="tabpanel" aria-labelledby="edit-familiar">
								<div class="row">
									{% for field in edit_acudiente %}
										{% bootstrap_field field form_group_class="col-md-6" label_class="col-md-5" field_class="col-md-7" size="small" layout="horizontal" %}
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="edit-salud" role="tabpanel" aria-labelledby="edit-salud">
								<div class="row">
									{% for field in edit_salud %}
										{% bootstrap_field field form_group_class="col-md-6" label_class="col-md-5" field_class="col-md-7" size="small" layout="horizontal" %}
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane fade" id="edit-adicional" role="tabpanel" aria-labelledby="edit-adicional">
								<div class="row">
									{% for field in edit_adicional %}
										{% bootstrap_field field form_group_class="col-md-6" label_class="col-md-5" field_class="col-md-7" size="small" layout="horizontal" %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="datos_completos">
						<input type="hidden" name="object_id" value="{{ estudiante.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}



<div class="modal fade" id="viewInformation">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Datos completos de {{estudiante.nombre}} {{estudiante.apellido}}</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body" style="padding:5px 20px;">

				<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-personal-tab" data-toggle="pill" href="#pills-personal" role="tab" aria-controls="pills-personal" aria-selected="true">Datos personales</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-familiar-tab" data-toggle="pill" href="#pills-familiar" role="tab" aria-controls="pills-familiar" aria-selected="true">Datos familiares</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-salud-tab" data-toggle="pill" href="#pills-salud" role="tab" aria-controls="pills-salud" aria-selected="true">Datos de salud</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-adicional-tab" data-toggle="pill" href="#pills-adicional" role="tab" aria-controls="pills-adicional" aria-selected="false">Información adicional</a>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent2">
					<div class="tab-pane fade show active " id="pills-personal" role="tabpanel" aria-labelledby="pills-personal">
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-child"></i> Nombre(s): </b></div>
							<div class="col-md-3">{{ estudiante.nombre }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-legal"></i> Apellido(s): </b></div>
							<div class="col-md-3">{{ estudiante.apellido }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-group"></i> Grupo: </b></div>
							<div class="col-md-3">{{ estudiante.grupo }}</div>
							<div class="col-md-3 text-right"><b><i class="ti-id-badge"></i> Documento: </b></div>
							<div class="col-md-3">{{ estudiante.documento }} ({{estudiante.tipo_documento}})</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-building"></i> Municipio de expedición: </b></div>
							<div class="col-md-3">{{ estudiante.municipio_expedicion }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-building-o"></i> Departamento expedición: </b></div>
							<div class="col-md-3">{{ estudiante.departamento_expedicion }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-calendar"></i> Fecha de nacimiento: </b></div>
							<div class="col-md-3">{{ estudiante.fecha_nacimiento }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-birthday-cake"></i> Edad: </b></div>
							<div class="col-md-3">{{ estudiante.edad }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-badge"></i> Municipio de nacimiento: </b></div>
							<div class="col-md-3">{{ estudiante.municipio_nacimiento }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-group"></i> Departamento de nacimiento: </b></div>
							<div class="col-md-3">{{ estudiante.departamento_nacimiento }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-home"></i> Dirección de residencia: </b></div>
							<div class="col-md-3">{{ estudiante.direccion_residencia }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-map-o"></i> Municipio de residencia: </b></div>
							<div class="col-md-3">{{ estudiante.municipio_residencia }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-bank"></i> Departamento de residencia: </b></div>
							<div class="col-md-3">{{ estudiante.departamento_residencia }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-mobile-phone"></i> Celular(es): </b></div>
							<div class="col-md-3">{{ estudiante.celular1 }} - {{ estudiante.celular2 }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-envelope"></i> Correo Electrónico: </b></div>
							<div class="col-md-3">{{ estudiante.email }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-tree"></i> Zona de vivienda: </b></div>
							<div class="col-md-3">{{ estudiante.zona }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-intersex"></i> Sexo: </b></div>
							<div class="col-md-3">{{ estudiante.genero }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-check-square"></i> Estado: </b></div>
							<div class="col-md-3">{{ estudiante.estado }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-calendar-check-o"></i> Fecha retiro: </b></div>
							<div class="col-md-3">{{ estudiante.fecha_retiro }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-eye"></i> Observaciones: </b></div>
							<div class="col-md-3">{{ estudiante.observaciones }}</div>
						</div>
					</div>

					<div class="tab-pane fade" id="pills-familiar" role="tabpanel" aria-labelledby="pills-familiar">
						<b>Datos del acudiente del estudiante</b>
						<hr />
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-male"></i> Nombre: </b></div>
							<div class="col-md-3">{{ acudiente.nombre }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-group"></i> Parentesco: </b></div>
							<div class="col-md-3">{{ acudiente.parentesco}}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-birthday-cake"></i> Edad: </b></div>
							<div class="col-md-3">{{ acudiente.edad }}</div>
							<div class="col-md-3 text-right"><b><i class="ti-id-badge"></i> Identificación: </b></div>
							<div class="col-md-3">{{ acudiente.identificacion}}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-building-o"></i> Expedido en: </b></div>
							<div class="col-md-3">{{ acudiente.expedido_en }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-legal"></i> Ocupación: </b></div>
							<div class="col-md-3">{{ acudiente.ocupacion}}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-mobile"></i> Celular 1: </b></div>
							<div class="col-md-3">{{ acudiente.celular1 }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-mobile-phone"></i> Celular 2: </b></div>
							<div class="col-md-3">{{ acudiente.celular2 }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-envelope"></i> Email: </b></div>
							<div class="col-md-3">{{ acudiente.email }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-tag"></i> ¿Es madre cabeza de familia?: </b></div>
							<div class="col-md-3">{{ acudiente.cabeza_familia }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-map-o"></i> Municipio de residencia: </b></div>
							<div class="col-md-3">{{ acudiente.municipio_residencia }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-tree"></i> Dirección de residencia: </b></div>
							<div class="col-md-3">{{ acudiente.direccion_residencia}}</div>
						</div>
					</div>

					<div class="tab-pane fade" id="pills-salud" role="tabpanel" aria-labelledby="pills-salud">
						<b>Datos de salud del estudiante</b>
						<hr />
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-heartbeat"></i> Tipo de sangre: </b></div>
							<div class="col-md-3">{{ salud.tipo_sangre }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-medkit"></i> EPS: </b></div>
							<div class="col-md-3">{{ salud.eps }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-heart-o"></i> Puntaje del sisben: </b></div>
							<div class="col-md-3">{{ salud.puntaje_sisben }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-stethoscope"></i> ARS: </b></div>
							<div class="col-md-3">{{ salud.ars }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-user-md"></i> Alergias: </b></div>
							<div class="col-md-3">{{ salud.alergias }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-hospital-o"></i> Medicamentos: </b></div>
							<div class="col-md-3">{{ salud.medicamentos }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-heart"></i> Enfermedades: </b></div>
							<div class="col-md-3">{{ salud.enfermedades }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-ambulance"></i> Limitaciones: </b></div>
							<div class="col-md-3">{{ salud.limitaciones }}</div>
						</div>
					</div>

					<div class="tab-pane fade" id="pills-adicional" role="tabpanel" aria-labelledby="pills-adicional">
						<b>Información adicional del estudiante</b>
						<hr />
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-tree"></i> Desplazado: </b></div>
							<div class="col-md-3">{{ adicional.desplazado }}</div>
								<div class="col-md-3 text-right"><b><i class="fa fa-map-o"></i> Lugar de desplazamiento: </b></div>
								<div class="col-md-3">{{ adicional.lugar_desplazamiento }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-group"></i> Familias en acción: </b></div>
							<div class="col-md-3">{{ adicional.familias_accion }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-child"></i> Alumna madre cabeza de familia: </b></div>
							<div class="col-md-3">{{ adicional.cabeza_familia }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-space-shuttle"></i> Benef. fuerza pública: </b></div>
							<div class="col-md-3">{{ adicional.beneficiario_fuerza_publica }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-star"></i> Benef. héroe de la nación: </b></div>
							<div class="col-md-3">{{ adicional.beneficiario_heroe_nacion }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-street-view"></i> Victima del conflicto: </b></div>
							<div class="col-md-3">{{ adicional.victima_conflicto }}</div>
							<div class="col-md-3 text-right"><b><i class="ti-id-ship"></i> Sabe nadar: </b></div>
							<div class="col-md-3">{{ adicional.sabe_nadar }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-square"></i> Etnia indígena: </b></div>
							<div class="col-md-3">{{ adicional.etnia_indigena }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-tree"></i> Tipo de vivienda: </b></div>
							<div class="col-md-3">{{ adicional.tipo_vivienda }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-area-chart"></i> Estrato socioeconómico: </b></div>
							<div class="col-md-3">{{ adicional.estrato_socioeconomico }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-home"></i> Vive con: </b></div>
							<div class="col-md-3">{{ adicional.vive_con }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-hotel"></i> Personas en el hogar: </b></div>
							<div class="col-md-3">{{ adicional.personas_hogar }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-sort-numeric-asc"></i> Hermanos en la IE: </b></div>
							<div class="col-md-3">{{ adicional.hermanos_ie }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-institution"></i> IE proviene: </b></div>
							<div class="col-md-3">{{ adicional.ie_proviene }}</div>
							<div class="col-md-3 text-right"><b><i class="fa fa-map-o"></i> Lugar del que proviene: </b></div>
							<div class="col-md-3">{{ adicional.lugar_proviene }}</div>
						</div>
						<div class="row">
							<div class="col-md-3 text-right"><b><i class="fa fa-pencil"></i> Tiene dificultades de aprendizaje: </b></div>
							<div class="col-md-3">{{ adicional.dificultades_aprendizaje }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cerrar</button>
			</div>
		</div>
	</div>
</div>
