{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

{% include "student/data.html" %}

<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<a class="btn btn-xs btn-info" title="Volver a la lista de estudiantes" href="/estudiantes/list"><i class="fa fa-arrow-left"></i> Atrás</a>
				<hr />
				{% if estudiante.foto != None and estudiante.foto != "" %}
					<a href="#" data-toggle="modal" data-target="#editAvatar" title="Click para editar foto de perfil">
						<img src="{{ estudiante.foto.url }}" class="col-md-12" style="border-radius:100%;">
					</a>
				{% else %}
					<a href="#" data-toggle="modal" data-target="#editAvatar" title="Click para editar foto de perfil">
						<img src="{% static "/images/default.png" %}" class="col-md-12">
					</a>
				{% endif%}
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h5 class="header-title">
					<div class="row">
						<div class="col-md-7">
							Salud
						</div>
						<div class="col-md-5">
							{% if edit_limitaciones %}
								<button class="btn btn-xs btn-info" title="Editar limitaciones" data-toggle="modal" data-target="#editLimitaciones"><i class="fa fa-pencil"></i></button>
							{% endif %}
						</div>
					</div>
				</h5>
				<hr />
				<b><i class="fa fa-email"></i> Limitaciones: </b>
				{{ salud.limitaciones }}<br />
				<b><i class="fa fa-email"></i> Enfermedades: </b>
				{{ salud.enfermedades }}<br />
				<b><i class="fa fa-email"></i> Alergias: </b>
				{{ salud.alergias }}
			</div>
		</div>

		{% if form_edit_pass %}
		<hr />
		<div class="card">
			<div class="card-body">
				<button class="btn btn-warning" title="Editar contraseña" data-toggle="modal" data-target="#editContrasena"><i class="fa fa-key"></i> Editar contraseña</button>
			</div>
		</div>
		{% endif %}
		{% if propio_perfil %}
			<hr />
			<div class="card">
				<div class="card-body">
					Mi perfil
				</div>
			</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div class="row">
			<div class="card col-md-11">
				<div class="card-body">
					<h5 class="header-title">
						Estudiante: {{estudiante.nombre}} {{estudiante.apellido}} [{{estudiante.estado}}]
						{% if edit_personal %}
							<button class="btn btn-xs col-md-1 btn-info" title="Editar datos completos" data-toggle="modal" data-target="#editDataEstudiante"><i class="fa fa-pencil"></i></button>
						{% endif %}
						<button class="btn btn-xs col-md-1 btn-primary" title="Ver datos completos" data-toggle="modal" data-target="#viewInformation"><i class="fa fa-eye"></i></button>
					</h5>
					<hr />
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="ti-id-badge"></i> Documento: </b></div>
						<div class="col-md-8">{{ estudiante.documento }} ({{estudiante.tipo_documento}})</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-group"></i> Grupo: </b></div>
						<div class="col-md-8">{{ estudiante.grupo }}</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-venus-mars"></i> Género: </b></div>
						<div class="col-md-8">{{ estudiante.genero }}</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Celular(es): </b></div>
						<div class="col-md-8">{{ estudiante.celular1 }} - {{ estudiante.celular2 }}</div>
					</div>
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Fecha registro: </b></div>
						<div class="col-md-8">{{ estudiante.creation_date }}</div>
					</div>
					{% if estudiante.last_login != "-" %}
						<div class="row">
							<div class="col-md-4 text-right"><b><i class="fa fa-calendar-o"></i> Fecha ingreso: </b></div>
							<div class="col-md-8">{{ estudiante.last_login }}</div>
						</div>
					{% endif %}
					{% if estudiante.email %}
						<div class="row">
							<div class="col-md-4 text-right"><b><i class="fa fa-envelope"></i> E-mail: </b></div>
							<div class="col-md-8">{{ estudiante.email }}</div>
						</div>
					{% endif %}
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="fa fa-calendar-check-o"></i> Datos del año: </b></div>
						<div class="col-md-8">{{ estudiante.anio }}</div>
					</div>
				</div>
			</div>
		</div>

		<hr />
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Informes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-academico-tab" data-toggle="pill" href="#pills-academico" role="tab" aria-controls="pills-academico" aria-selected="true">Académico</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-disciplinario-tab" data-toggle="pill" href="#pills-disciplinario" role="tab" aria-controls="pills-disciplinario" aria-selected="true">Disciplinario</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Notas actuales</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-operaciones" role="tab" aria-controls="pills-operaciones" aria-selected="false">Histórico</a>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
						<div class="row">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Hoja de matrícula</h5>
										<a target="_blank" href="/pdf/matricula/{{estudiante.pk}}/{{estudiante.anio}}" class="btn btn-danger btn-xs" title="Ver hoja de matrícula completa (PDF)"><i class="fa fa-file-pdf-o"></i> Normal</a>
										<a target="_blank" href="/pdf/matricula/0/{{estudiante.anio}}?vacia" class="btn btn-danger btn-xs" title="Ver hoja de matrícula vacía (PDF)"><i class="fa fa-file-pdf-o"></i> Vacía</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Constancia de estudio</h5>
										<a target="_blank" data-toggle="modal" data-target="#exportConstancia" href="#" class="btn btn-danger btn-xs" title="ver constancia de estudio en PDF"><i class="fa fa-file-pdf-o"></i> Normal</a>
										<a target="_blank" href="/pdf/constancia_estudio/{{ estudiante.pk }}/{{ estudiante.anio }}?familias_accion" class="btn btn-danger btn-xs" title="ver constancia de estudio en PDF"><i class="fa fa-file-pdf-o"></i> F/A</a>
										<a target="_blank" data-toggle="modal" data-target="#exportConstancia" href="#" class="btn btn-primary btn-xs" title="ver constancia de estudio en word"><i class="fa fa-file-word-o"></i> Normal</a>
										<a target="_blank" href="/word/constancia_estudio/{{ estudiante.pk }}/{{ estudiante.anio }}?familias_accion" class="btn btn-primary btn-xs" title="ver constancia de estudio en word"><i class="fa fa-file-word-o"></i> F/A</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Certificado de notas</h5>
										<a target="_blank" href="/pdf/certificado_notas/{{estudiante.pk}}/{{estudiante.anio}}" class="btn btn-danger btn-xs" title="Ver certificado de notas en PDF"><i class="fa fa-file-pdf-o"></i> PDF</a>
										<a target="_blank" href="/word/certificado_notas/{{estudiante.pk}}/{{estudiante.anio}}" class="btn btn-primary btn-xs" title="Ver certificado de notas en word"><i class="fa fa-file-word-o"></i> Word</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-academico" role="tabpanel" aria-labelledby="pills-academico-tab">
						<h5 class="card-title">Boletines</h5>
						{% for per in periodos %}
							<a class="btn btn-danger btn-xs" target="_blank" href="/pdf/boletines/{{estudiante.pk}}/{{per.pk}}/{{estudiante.anio}}?individual"><i class="fa fa-file-pdf-o"></i> {{per.titulo}}</a>
						{% endfor %}
					</div>
					<div class="tab-pane fade" id="pills-disciplinario" role="tabpanel" aria-labelledby="pills-disciplinario-tab">
						<div class="row">
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Anecdotario</h5>
										<a class="btn btn-info btn-xs col-sm-5" data-toggle="modal" data-target="#editAnecdotario" href="#"><i class="fa fa-pencil"></i> Editar</a>
										<a target="_blank" href="/pdf/anecdotario/{{estudiante.pk}}/{{estudiante.anio}}" class="btn btn-danger btn-xs col-sm-5" title="ver anecdotario en PDF"><i class="fa fa-file-pdf-o"></i> PDF</a>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Asistencia</h5>
										<a target="_blank" href="/pdf/asistencia/{{estudiante.pk}}/{{estudiante.anio}}" class="btn btn-danger btn-xs col-sm-5" title="Ver asistencia en PDF"><i class="fa fa-file-pdf-o"></i> PDF</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
						<table class="table table-sm">
							<thead class="thead-light">
								<tr>
									<th>Asignatura</th>
									{% for per in periodos %}
										<th>{{ per.titulo }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								{% for no in notas.areas %}
									<tr class="table-primary">
										<td>{{ no.titulo }}</td>
										{% for per in periodos %}
											{% for per2 in no.periodos %}
												{% if per2.pk == per.pk %}
													<td title="{{ per2.valor_native }}">{{ per2.valor }}</td>
												{% endif %}
											{% endfor %}
										{% endfor %}
									</tr>
									{% for asi in no.asignaturas %}
										<tr class="table-info">
											<td>{{ asi.titulo }} ({{ asi.porcentaje }}%)</td>
											{% for per in periodos %}
												{% for per2 in asi.periodos %}
													{% if per2.pk == per.pk %}
														<td title="{{ per2.valor_native }}">
															{{ per2.valor }}
															{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
																({{ per2.habilitacion }}*)
															{% endif %}
														</td>
													{% endif %}
												{% endfor %}
											{% endfor %}
										</tr>
									{% endfor %}
									<td></td>
								{% endfor %}
								{% for no in notas.asignaturas %}
									<tr>
										<td>{{ no.titulo }}</td>
										{% for per in periodos %}
											{% for per2 in no.periodos %}
												{% if per2.pk == per.pk %}
													<td title="{{ per2.valor_native }}">
														{{ per2.valor }}
														{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
															({{ per2.habilitacion }}*)
														{% endif %}
													</td>
												{% endif %}
											{% endfor %}
										{% endfor %}
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<td>Promedio</td>
									{% for per2 in notas.promedios %}
										{% for per in periodos %}
											{% if per2.pk == per.pk %}
												<td title="{{ per2.valor_native }}">
													{{ per2.valor }}
													{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
														({{ per2.habilitacion }}*)
													{% endif %}
												</td>
											{% endif %}
										{% endfor %}
									{% endfor %}
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-operaciones" role="tabpanel" aria-labelledby="pills-operaciones-tab">
						Aún no implementado
					</div>
				</div>

			</div>
		</div>


	</div>



	{% endblock %}
