{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content %}
{{ form_upload.media }}
{{ form_download.media }}

{% if fecha_habilitado %}
<div class="messageBody alert alert-info" style="text-align:center;">
	Cuando hallas descargado el formato excel (formulario a la derecha), edítalo y cárgalo en el formulario de la izquierda.
</div>
<div class="row">
	<div class="col-md-7">
		<div class="card">
			<form method="post" action="{{url_form}}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card-header">
					Subir formato excel
				</div>
				<div class="card-body">
					<div class="row justify-content-start">
						{% for field in form_upload %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
					</div>
				</div>
				<div class="card-footer">
					<input type="hidden" name="tipoForm" value="addData">
					<button class="btn btn-info"><i class="fa fa-upload"></i> Visualizar notas del archivo excel</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<div class="card">
			<form method="post" action="{{url_form}}">
				{% csrf_token %}
				<div class="card-header">
					Descargar formato excel
				</div>
				<div class="card-body">
					<div class="row justify-content-start">
						{% for field in form_download %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
					</div>
				</div>
				<div class="card-footer">
					<input type="hidden" name="tipoForm" value="informeForm">
					<button class="btn btn-success"><i class="fa fa-file-excel-o"></i> Descargar archivo excel con lista de estudiantes</button>
				</div>
			</form>
		</div>
	</div>
</div>
	{% if estudiantes_lista %}
		<hr />
		<div class="messageBody alert alert-warning">
			Cuando esté seguro de que la información es correcta, presione el botón de "Agregar notas" en la parte inferior.
		</div>
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					{% if tipo_add == 2 %}
						<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
							<thead>
								<th>Nro.</th>
								<th style="width:50%">Estudiante</th>
								<th>Asignatura</th>
								<th>Periodo</th>
								<th>Habilitacion</th>
								<th>Inas</th>
								<th>Notas</th>
							</thead>
							<tbody>
								{% for est in estudiantes_lista %}
									<tr>
										<td>{{ est.nro }}</td>
										<td>{{ est.estudiante }}</td>
										<td>{{ est.asignatura }}</td>
										<td>{{ est.periodo }}</td>
										<td>{{ est.habilitacion }}</td>
										<td>{{ est.inas }}</td>
										<td>{{ est.nota }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
							<thead>
								<th>Nro.</th>
								<th style="width:50%">Estudiante</th>
								<th></th>
								<th>Nota</th>
								<th>Inas</th>
							</thead>
							<tbody>
								{% for est in estudiantes_lista %}
									<tr>
										<td>{{ est.nro }}</td>
										<td>{{ est.estudiante }}</td>
										<td id="justificacion_{{ est.nro }}"></td>
										<td>{{ est.nota }}</td>
										<td>{{ est.inas }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/estudiantes/excel/Notas">
					{% csrf_token %}
					<a href="/estudiantes/excel/Notas?preview&file={{file}}&periodo={{periodo.pk}}&asignacion={{asignacion.pk}}&save" class="btn btn-success"><i class="fa fa-save"></i> Agregar notas</a>
					<a href="/estudiantes/excel/Notas" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>

		<hr />
		<div class="messageBody alert alert-primary">
			<b>{{ asignacion }}</b> con un porcentaje de {{ asignacion.asignatura.porcentaje }} %
			{% if asignacion.asignatura.area_fundamental != "" %}
				en el área de {{ asignacion.asignatura.area_fundamental }}
			{% endif %}<br />
			<b>{{ periodo.titulo }}</b><br />
			Fecha habilitado: {{ fechas_rango }}<br />
		</div>

	{% endif %}


{% else %}
	<div class="messageBody alert alert-warning">
		Aún no se encuentra la plataforma habilitada para ingresar notas, mientra tanto, puedes visitar los siguientes enlaces.
	</div>
{% endif %}


{% endblock %}
