{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content %}
{{ form_nota.media }}

{% if fecha_habilitado %}

	<form method="get" action="/estudiantes/NotasIndividual">
		<div class="card">
			<div class="card-body">
				<div class="row justify-content-start">
					{% for field in form_nota %}
						{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
			</div>
			<div class="card-footer">
				<button class="btn btn-success"><i class="fa fa-eye"></i> Ver notas</button>
			</div>
		</div>
	</form>
	{% if notas_return %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-sm">
						<thead>
							<th>Nro.</th>
							<th style="width:50%">Asignatura</th>
							<th></th>
							<th>Nota</th>
							<th>Inas</th>
							<th>Fecha edición</th>
						</thead>
						<tbody>
							{% for nota in notas_return %}
								<tr>
									<td>{{ nota.nro }}</td>
									<td>{{ nota.nombre }}</td>
									<td id="justificacion_{{ est.nro }}"></td>
									<td>
										<input tipo="nota" asignacion_id="{{nota.asignacion_id}}" data-placement="left" title="Presione Enter para guardar la nota" style="width:60px;" type="number" step="0.1" class="form-control form-control-sm input-nota" estudiante="{{ estudiante_pk }}" value="{{ nota.nota }}" last_value="{{ nota.nota }}" nota_id="nota_{{ nota.nro }}">
									</td>
									<td>
										<input tipo="inas" asignacion_id="{{nota.asignacion_id}}" style="width:60px;" type="number" class="input-inas form-control form-control-sm col-md-10" last_value="{{ nota.inas }}" value="{{ nota.inas }}"  estudiante="{{ estudiante_pk }}" inas_id="inas_{{ nota.nro }}">
									</td>
									<td id="fecha_{{ nota.nro }}">{{ nota.fecha }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden" name="periodo" id="periodo_id" value="{{ periodo.pk }}">
				<div class="messageBody alert alert-primary">
					Notas del estudiante: <b>{{estudiante}}</b> del periodo <b>{{ periodo.titulo }}</b><br />
					Fecha habilitado: {{ fechas_rango }}
				</div>
			</div>
		</div>
	{% else %}
		<div class="messageBody alert alert-info">
			Por favor seleccione una asignación válida del formulario para visualizar las notas
		</div>
	{% endif %}


{% else %}
	<div class="messageBody alert alert-warning">
		Aún no se encuentra la plataforma habilitada para ingresar notas, mientra tanto, puedes visitar los siguientes enlaces.
	</div>
{% endif %}


{% endblock %}
