{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content %}
{{ form_nota.media }}

{% if fecha_habilitado %}

	<form method="get" action="{{url_form}}">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="row justify-content-start">
							{% for field in form_nota %}
								{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
							{% endfor %}
						</div>
					</div>
					<div class="card-footer">
						<button class="btn btn-success"><i class="fa fa-eye"></i> Ver notas</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{% if estudiante_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-sm">
						<thead>
							<th>Nro.</th>
							<th style="width:50%">Estudiante</th>
							<th></th>
							<th>Nota</th>
							{% if es_recuperacion %}
								<th>Habilitación</th>
							{% endif %}
							<th>Inas</th>
							<th>Fecha edición</th>
						</thead>
						<tbody>
							{% for est in estudiante_lista %}
								<tr>
									<td>{{ est.nro }}</td>
									<td>{{ est.nombre }}</td>
									<td id="justificacion_{{ est.nro }}"></td>
										{% if es_recuperacion %}
											<td>{{ est.nota }}</td>
											<td>
												<input tipo="habilitacion" data-placement="left" title="Presione Enter para guardar la recuperación" style="width:60px;" type="number" step="0.1" class="form-control form-control-sm input-nota" estudiante="{{ est.pk }}" value="{{ est.habilitacion }}" last_value="{{ est.habilitacion }}" nota_id="nota_{{ est.nro }}">
											</td>
										{% else %}
											<td>
												<input tipo="nota" data-placement="left" title="Presione Enter para guardar la nota" style="width:60px;" type="number" step="0.1" class="form-control form-control-sm input-nota" estudiante="{{ est.pk }}" value="{{ est.nota }}" last_value="{{ est.nota }}" nota_id="nota_{{ est.nro }}">
											</td>
										{% endif %}
									<td>
										<input tipo="inas" style="width:60px;" type="number" class="input-inas form-control form-control-sm col-md-10" last_value="{{ est.inas }}" value="{{ est.inas }}"  estudiante="{{ est.pk }}" inas_id="inas_{{ est.nro }}">
									</td>
									<td id="fecha_{{ est.nro }}">{{ est.fecha }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<input type="hidden" name="asignacion" id="asignacion_id" value="{{ asignacion.pk }}">
				<input type="hidden" name="periodo" id="periodo_id" value="{{ periodo.pk }}">
				<div class="messageBody alert alert-primary">
					<b>{{ asignacion }}</b> con un porcentaje de {{ asignacion.asignatura.porcentaje }} %
					{% if asignacion.asignatura.area_fundamental != "" %}
						en el área de {{ asignacion.asignatura.area_fundamental }}
					{% endif %}<br />
					<b>{{ periodo }}</b><br />
					Fecha habilitado: {{ fechas_rango }}<br />

				</div>
				<center>Presione la tecla "Enter" para guardar la nota, espere hasta que el color de la casilla se torne verde, cuando esto ocurra, la nota estara guardada exitosamente, si se torna roja, vuelva a intentarlo.</center>
			</div>
		</div>
	{% else %}
		<div class="messageBody alert alert-info" style="text-align:center;">
			{% if es_recuperacion and estudiante_lista|length == 0 and estudiante_lista != None %}
				<b>No hay estudiantes que hallan perdido la asignatura, por ello, no se muestra el listado de los mismos.</b>
			{% else %}
				Por favor seleccione una asignación del formulario para visualizar las notas
			{% endif %}
		</div>
	{% endif %}


{% else %}
	<div class="messageBody alert alert-warning">
		Aún no se encuentra la plataforma habilitada para ingresar notas, mientra tanto, puedes visitar los siguientes enlaces.
	</div>
{% endif %}


{% endblock %}
