{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

<div class="messageBody alert alert-info" style="text-align:center;">
	Para generar la tabla en una hoja PDF presione en el siguiente enlace <a class="btn btn-sm btn-primary" href="/pdf/dane" target="blank"><i class="fa fa-download"></i> Descargar formato en PDF</a>
</div>

<div class="messageBody alert alert-info" style="text-align:center;">
	<a href="/adicional/actualizar/aprobados"> ¿El número de aprobados y reprobados no corresponde? Actualiza esta lista para reducir tiempo en la generación de informes</a>
</div>

<table class="table table-bordered table-sm">
	<thead>
		<tr>
			<th rowspan="2">Sede</th>
			<th rowspan="2">Grado</th>
			<th colspan=2>Aprobados</th>
			<th colspan=2>Reprobados</th>
			<th colspan=2>Inactivos</th>
			<th colspan=2>Retirados</th>
			<th colspan=2>Desertores</th>
			<th colspan=2>Cancelados</th>
			<th rowspan="2">Total</th>
		</tr>
		<tr>
			<th>Masc</th>
			<th>Fem</th>
			<th>Masc</th>
			<th>Fem</th>
			<th>Masc</th>
			<th>Fem</th>
			<th>Masc</th>
			<th>Fem</th>
			<th>Masc</th>
			<th>Fem</th>
			<th>Masc</th>
			<th>Fem</th>
		</tr>
	</thead>

	<tbody>
		{% for sede in sedes_all %}
			{% for grado in sede.grados %}
				<tr>
					<td>{{ sede.titulo }}</td>
					<td>{{ grado.titulo }}</td>
					<td>{{ grado.masc.Aprobados }}</td>
					<td>{{ grado.fem.Aprobados }}</td>
					<td>{{ grado.masc.Reprobados }}</td>
					<td>{{ grado.fem.Reprobados }}</td>
					<td>{{ grado.masc.Inactivos }}</td>
					<td>{{ grado.fem.Inactivos }}</td>
					<td>{{ grado.masc.Retirados }}</td>
					<td>{{ grado.fem.Retirados }}</td>
					<td>{{ grado.masc.Desertores }}</td>
					<td>{{ grado.fem.Desertores }}</td>
					<td>{{ grado.masc.Cancelados }}</td>
					<td>{{ grado.fem.Cancelados }}</td>
					<td>{{ grado.total }}</td>
				</tr>
			{% endfor %}
			<tr>
				<th colspan=2>Total</th>
				<th>{{ sede.masc.Aprobados }}</th>
				<th>{{ sede.fem.Aprobados }}</th>
				<th>{{ sede.masc.Reprobados }}</th>
				<th>{{ sede.fem.Reprobados }}</th>
				<th>{{ sede.masc.Inactivos }}</th>
				<th>{{ sede.fem.Inactivos }}</th>
				<th>{{ sede.masc.Retirados }}</th>
				<th>{{ sede.fem.Retirados }}</th>
				<th>{{ sede.masc.Desertores }}</th>
				<th>{{ sede.fem.Desertores }}</th>
				<th>{{ sede.masc.Cancelados }}</th>
				<th>{{ sede.fem.Cancelados }}</th>
				<th>{{ sede.total }}</th>
			</tr>
		{% endfor %}
	</tbody>

</table>


{% endblock %}
