{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

<div class="messageBody alert alert-info">
	Puede que la generación de gráficas se torne lenta ya que el procesamiento de mucha cantidad de datos demanda tiempos extensos.
</div>

<form method="get" action="/adicional/estadisticas">
	<div class="card">
		<div class="card-body">
			<div class="row justify-content-start">
				{{ form_estadisticas.media }}
				{% for field in form_estadisticas %}
					{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
				{% endfor %}
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-info"><i class="fa fa-eye"></i> Ver estadisticas</button>
		</div>
	</div>
</form>

{% if ver_estadisticas %}
	<hr />
	<div class="col-lg-12 mt-5">
		<div class="card h-full">
			<div class="card-body pb-0">
				<figure class="highcharts-figure">
					<div id="container"></div>
				</figure>
			</div>
		</div>
	</div>
	<hr />
	<div class="col-lg-12 mt-5">
		<div class="card h-full">
			<div class="card-body pb-0">
				<table id="datatable" class="table table-sm">
					<thead>
						<tr>
							<th></th>
							{% for categoria in all_categorias %}
								<th>{{ categoria }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for serie in all_series %}
							<tr>
								<td>{{ serie.titulo }}</td>
								{% for data in serie.data %}
									<td>{{data}}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- start highcharts js -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/data.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<style>
		.highcharts-a11y-proxy-container .highcharts-a11y-proxy-button{
			opacity:1 !important;
			border:solid 1px black !important;
			border-radius: 10px;
		}
	</style>


	<script type="text/javascript">
		Highcharts.chart('container', {
			data: {
				table: 'datatable'
			},
			chart: {
				type: 'column'
			},
			title: {
				text: '{{ grafica_titulo }}'
			},
			yAxis: {
				allowDecimals: true,
				title: {
					text: 'Unidades'
				}
			},
			tooltip: {
				formatter: function () {
					return '<b>' + this.series.name + '</b><br/>' +
					this.point.y + ' ' + this.point.name.toLowerCase();
				}
			}
		});

	</script>

{% endif %}

{% endblock %}
