{% load bootstrap4 %}

{% if form_edit %}
	{{ form_edit.media }}
	<!-- The Modal Add -->
	<div class="modal fade" id="modalEdit">
		{% if form_edit|length > 0 %}
		<div class="modal-dialog modal-xl">
		{% else %}
		<div class="modal-dialog modal-lg">
		{% endif %}
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Editar registro <string id="id_json_register_name"></string></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<form method="post" class="formSendAjax form_editar_method" action="{{ form_action }}" {{target}} enctype="multipart/form-data">
					{% csrf_token %}
					{% if form_edit|length > 0 %}
						<div class="modal-body">
						<ul class="nav nav-tabs" id="myTab2" role="tablist">
							{% for item in form_edit %}
								<li class="nav-item">
									{% if item == forms|first %}
										<a class="nav-link show active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{item.tab}}</a>
									{% else %}
										<a class="nav-link" id="home-tab" data-toggle="tab" href="#{{item.href}}" role="tab" aria-controls="{{item.href}}">{{item.tab}}</a>
									{% endif %}
								</li>
							{% endfor %}
						</ul>

						<div class="tab-content" id="myTabContent" style="min-height:200px;">
							{% for item in form_edit %}
								{{ item.form.media }}
								{% if item == forms|first %}
									<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								{% else %}
									<div class="tab-pane fade" id="{{item.href}}" role="tabpanel" aria-labelledby="{{item.href}}-tab">
								{% endif %}
										<br />
										<div class="row justify-content-start">
										{% if item.completa %}
											{% for field in item.form %}
												{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
											{% endfor %}
										{% else %}
											{% for field in item.form %}
												{% bootstrap_field field form_group_class="col-md-6" field_class="col-md-9" size="small" layout="horizontal" %}
											{% endfor %}
										{% endif %}
										</div>
									</div>
							{% endfor %}

						</div>
						</div>
					{% else %}
						<div class="modal-body">
							<div id="messageBody" class="messageBody alert alert-primary">
								Nada para mostrar
							</div>
							<div class="row justify-content-start">
							{% for field in form_edit %}
								{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
							{% endfor %}
							</div>
						</div>
					{% endif %}
					<!-- Modal footer -->
					<div class="modal-footer">
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="editar_modal">
						<input type="hidden" id="id_edit-object_id" name="object_id" value="">
						<!-- Buttons -->
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
