{% load bootstrap4 %}
{% if form_add %}
	{{ form_add.media }}
	<!-- The Modal Add -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Añadir registro</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<form method="post" class="formSendAjax form_add_method" action="{{ form_action }}" enctype="multipart/form-data">
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							Nada para mostrar
						</div>
						<div class="row justify-content-start">
						{% for field in form_add %}
							{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="agregar_modal">
						<!-- Buttons -->
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Añadir</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
