{% load bootstrap4 %}

	{{ form_edit.media }}
	<!-- The Modal Add -->
	<div class="modal fade" id="modalEdit">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Editar registro <string id="id_json_register_name"></string></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" action="{{ form_action }}" {{target}} enctype="multipart/form-data">
					{% csrf_token %}
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						{% for item in form_edit %}
							<li class="nav-item">
								{% if item == form_edit|first %}
									<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{item.tab}}</a>
								{% else %}
									<a class="nav-link" id="home-tab" data-toggle="tab" href="#{{item.href}}" role="tab" aria-controls="{{item.href}}" aria-selected="true">{{item.tab}}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>

					<div class="tab-content" id="myTabContent" style="min-height:200px;">
						{% for item in form_edit %}
							{{ item.form.media }}
							{% if item == form_edit|first %}
								<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							{% else %}
								<div class="tab-pane fade show" id="{{item.href}}" role="tabpanel" aria-labelledby="{{item.href}}-tab">
							{% endif %}
								<br />
								<div class="row justify-content-start">
								{% if item.completa %}
									{% for field in item.form %}	
										{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
									{% endfor %}
								{% else %}
									{% for field in item.form %}	
										{% bootstrap_field field form_group_class="col-md-6" field_class="col-md-9" size="small" layout="horizontal" %}
									{% endfor %}					
								{% endif %}
								</div>
							</div>
						{% endfor %}
						
					</div>
				</form>
			</div>
		</div>
	</div>


