{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

{% include "administrador/data.html" %}

<div class="row">


	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h5 class="header-title">
					{% if propio_perfil %}
						[Mi Perfil]
					{% endif %} Administrador: {{administrador.nombre}} {{administrador.apellido}}
					{% if form_edit_data %}
						<button class="btn btn-xs col-md-1 btn-info" title="Editar datos completos" data-toggle="modal" data-target="#editData"><i class="fa fa-pencil"></i></button>
					{% endif %}
				</h5>
				<hr />
				{% if propio_perfil %}
					<div class="row">
						<div class="col-md-4 text-right"><b><i class="ti-id-badge"></i> Username: </b></div>
						<div class="col-md-8">{{ administrador.username }}</div>
					</div>
				{% endif %}
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-group"></i> Sede: </b></div>
					<div class="col-md-8">{{ administrador.sede }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-venus-mars"></i> Género: </b></div>
					<div class="col-md-8">{{ administrador.genero }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Teléfono - Celular: </b></div>
					<div class="col-md-8">{{ administrador.telefono }} - {{ administrador.celular }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Fecha registro: </b></div>
					<div class="col-md-8">{{ administrador.creation_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Correo Electrónico: </b></div>
					<div class="col-md-8">{{ administrador.email }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Dirección: </b></div>
					<div class="col-md-8">{{ administrador.direccion }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Estudios: </b></div>
					<div class="col-md-8">{{ administrador.estudios }}</div>
				</div>
				Datos de ingreso
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Nombre de usuario: </b></div>
					<div class="col-md-8">{{ administrador.username }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar-o"></i> Fecha de último ingreso: </b></div>
					<div class="col-md-8">{{ administrador.last_login }}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<a class="btn btn-xs btn-info" title="Volver a la lista de administradors" href="/administradores"><i class="fa fa-arrow-left"></i> Atrás</a>
				<hr />
				{% if administrador.foto != None and administrador.foto != "" %}
					<img src="{{ administrador.foto.url }}" class="col-md-12" style="border-radius:100%;">
				{% else %}
					<img src="{% static "/assets/images/profile/person-icon.png" %}" class="col-md-12">
				{% endif%}
				{% if form_edit_avatar %}
					<hr />
					<a href="#" data-toggle="modal" data-target="#editAvatar" class="btn btn-info btn-sm" title="Editar foto de perfil del administrador"> <i class="fa fa-pencil"></i> </a>
				{% endif %}
			</div>
		</div>
		{% if form_edit_pass %}
		<hr />
		<div class="card">
			<div class="card-body">
				<button class="btn btn-warning" title="Editar contraseña" data-toggle="modal" data-target="#editContrasena"><i class="fa fa-key"></i> Editar contraseña</button>
			</div>
		</div>
		{% endif %}
	</div>
</div>


	{% endblock %}
