body{
	font-size:11.5px;
	font-family: arial !important;
}
*{
	font-family: arial !important;
}

table{
	width:100%;
	margin:auto;
	border-collapse:collapse;
}

table.notas_boletin{
	text-align: center;
}
table th, table td{
	padding-top:2px;
	padding-bottom:-2px;
	padding-left:3px;
	border:solid 1px gray;
	vertical-align: top;
	text-align: left;
}
table th {
	text-align: center;
	background:#DEDEDE;
	color:black;
	border:solid 1px gray;
	padding-top:5px;
	padding-bottom:5px;
}

ul{
	padding-left:7px;
}

.center{
	text-align:center;
}

.tableCabecera{
	text-align:center;
	border:solid 0px black;
	font-size: 12px;
}

.fecha_impresion{
	color:gray;
	text-align:center;
}
.tableCabecera th, .tableCabecera td{
	border:solid 0px white;
}

table.tabla_matricula td{
	width:50%;
}
.table_matricula thead tr th{
	background: #CDCDCD;
}
.firmas tr td{
	border:solid 0px white;
}
.observaciones td{
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	padding:8px;
}
.field1{
	background-color: #E1E1E1;
}
.field2{
	background: white;
}
.fundamental{
	background: #C8C8C8;
}
.selected{
	background: #DCDCDC;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.logros{
	padding:5px 5px;
	padding-left: 10%;
	border-bottom: solid 1px gray;
	text-align:justify;
	display:none;
}
.logro_td{
	text-align:justify;
	padding: 4px 4px;
	font-size:10px;
}
.asignatura{
	text-align:left;
}
.firmas{
	border:solid 0px black;
	text-align:center;
	width:100%;
	margin-top:25px;
}
.firmas .nombre{
	border-top:solid 1px black;
	width:70%;
	margin:auto;
}
.final_nota{
	text-align:center;
	font-weight:bold;
	padding:2px 10px;
	border:solid 1px green;
	background: #E4FFA8;
	border-radius:10px;
	color:green;
}
