{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Contenido adicional</h2>
		<p>Conoce la historia, misión y visión de la institución educativa.</p>
	</header>
	<div class="box">
		<h3>Nombre de la institución</h3>
		{{ ie.nombre }}
		<hr>
		<h3>NIT de la institución</h3>
		{{ adicional.nit }}
		<hr>
		<h3>Dane de la institución</h3>
		{{ adicional.dane }}
		<hr>
		<h3>Nombre del rector</h3>
		{{ adicional.rector }}
	</div>

	<div class="box">
		<h2>Misión</h2>
		<p style="text-align:justify;">{{ adicional.mision }}</p>
	</div>
	<div class="box">
		<h2>Visión</h2>
		<p style="text-align:justify;">{{ adicional.vision }}</p>
	</div>
	<div class="box">
		<h2>Historia</h2>
		<p style="text-align:justify;">{{ adicional.historia }}</p>
	</div>
	<div class="box">
		<h2>Himno</h2>
		{% autoescape off %}{{ adicional.himno }}{% endautoescape %}
	</div>
	<div class="box">
		<h2>Manual de convivencia</h2>
		{% if adicional.manual_convivencia != None and adicional.manual_convivencia != "" %}
			<a target="_blank" href="{{ adicional.manual_convivencia.url }}">Descargar manual de convivencia</a>
		{% else %}
			<h4>No hay manual de convivencia agregado aún</h4>
		{% endif%}
	</div>
	<div class="box">
		<h2>Adicional</h2>
		{% autoescape off %}{{ adicional.adicional }}{% endautoescape %}
	</div>
	<div class="box">
		<h2>Escudo</h2>
		{% if adicional.escudo != None and adicional.escudo != "" %}
			<img src="{{ adicional.escudo.url }}" style="width:150px;">
		{% else %}
			<h4>No hay escudo aún</h4>
		{% endif%}
	</div>


{% endblock %}
