{% load static %}

<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="es">
	<head>
		<title>Da vinci :: {{ page_title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "/blog/assets/css/main.css" %}" />

		{% for file in css_files %}
		<link href="{% static "/custom_assets/css/"|add:file %}" rel="stylesheet">
		</link>
		{% endfor %}
		<link rel="icon" href="{% static "/assets/images/page/favicon.png" %}">
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="/">Da vinci</a> {{ ie.nombre }}</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="/blog/contacto">Contacto</a></li>
							<li><a href="/blog/fotos">Fotos</a></li>
							<li><a href="/blog/calendario">Calendario</a></li>
							<li><a href="/blog/adicional">Adicional</a></li>
							{% if ie.mostrar_docentes %}
								<li><a href="/blog/docentes">Docentes</a></li>
							{% endif %}
							{% if noticias %}
							<li>
								<a href="#" class="icon solid fa-angle-down">Noticias</a>
								<ul>
									{% for noti in noticias %}
										<li><a href="/blog/noticia/{{ noti.pk }}">{{ noti.titulo }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% if noticias %}
							<li>
								<a href="#" class="icon solid fa-angle-down">Escuela padres</a>
								<ul>
									{% for escu in escuela_padres %}
										<li><a href="/blog/escuela_padres/{{ escu.pk }}">{{ escu.titulo }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% if is_logged %}
								<li><a href="/inicio" class="button">Ver mi perfil</a></li>
							{% else %}
								<li><a href="/inicio" class="button">Iniciar Sesión</a></li>
							{% endif %}
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				{% if is_main %}
				<section id="banner">
					<h2>Da vinci {{ ie.nombre }}</h2>
					<p>{{ ie.corta_descripcion }}.</p>
					<ul class="actions special">
						{% if is_logged %}
							<li><a href="/inicio" class="button primary">Ver mi perfil</a></li>
						{% else %}
							<li><a href="/inicio" class="button primary">Iniciar Sesión</a></li>
						{% endif %}
						<li><a href="/blog/adicional" class="button">Ver más</a></li>
					</ul>
				</section>
				{% endif %}


			<!-- Main -->
				<section id="main" class="container medium">

					{% block content_blog %}{% endblock %}

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="{{ ie.twitter }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="{{ ie.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="{{ ie.instagram }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Da vinci :: {{ ie.nombre }}. Todos los derechos reservados.</li><li>Plantilla diseñada por: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static "/blog/assets/js/jquery.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/jquery.dropotron.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/browser.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/breakpoints.min.js" %}"></script>
			<script src="{% static "/blog/assets/js/util.js" %}"></script>
			<script src="{% static "/blog/assets/js/main.js" %}"></script>

			<script src="{% static "/custom_assets/js/page_handler.js" %}"></script>
			{% for file in js_files %}
			<script src="{% static "/custom_assets/js/"|add:file %}"></script>
			{% endfor %}
	</body>
</html>
