{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Contáctenos</h2>
		<p>Cuentenos sus inquietudes sobre Da Vinci.</p>
	</header>
	<div class="box">
		<h3>Teléfono (s)</h3> {{ ie.telefono }}<hr />
		<h3>Dirección física</h3> {{ ie.direccion }}<hr />
		<h3>Correo electrónico</h3> {{ ie.email }}
	</div>
	<div class="box">
		{% if success %}
			Bien
		{% endif %}
		{% if error %}
			Mal
		{% endif %}
		<form method="post" action="/blog/contacto/">
			{% csrf_token %}
			<div class="row gtr-50 gtr-uniform">
				<div class="col-6 col-12-mobilep">
					<input type="text" name="nombre" id="nombre" value="" placeholder="Nombre" required />
				</div>
				<div class="col-6 col-12-mobilep">
					<input type="email" name="email" id="email" value="" placeholder="Email" required />
				</div>
				<div class="col-12">
					<input type="text" name="asunto" id="asunto" value="" placeholder="Asunto" required />
				</div>
				<div class="col-12">
					<textarea name="mensaje" id="mensaje" placeholder="Ingrese su mensaje" rows="6" required></textarea>
				</div>
				<div class="col-12">
					<ul class="actions special">
						<li><input type="submit" name="sendMessage" value="Enviar mensaje" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
