{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<header>
		<h2>Perfil de los docentes</h2>
		<p>Conoce el perfil de los docentes de la institución educativa.</p>
	</header>

	{% if docentes %}
		<div class="box">
			{% for doc in docentes %}
				<p>
					<span class="image left">
						{% if doc.foto != None and doc.foto != "" %}
							<img src="{{ doc.foto.url }}" style="width:130px;">
						{% else %}
							<img src="{% static "/assets/images/profile/person-icon.png" %}" style="width:130px;">
						{% endif %}
					</span>
					<b>{{ doc.nombre }}</b><br />
					<b>Sede:</b> {{ doc.sede }}<br />
					<b>Email:</b> {{ doc.email }}<br />
					{{ doc.descripcion }}
				</p>
				<hr style="clear:both" />
			{% endfor %}
		</div>
	{% else %}
		<div class="box">
			<h1>Esta página no puede ser visualizada</h1>
			<a href="/">Volver al inicio</a>
		</div>
	{% endif %}

{% endblock %}
