{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}

		<section class="box special">
			<header class="major">
				<h2>Bienvenido a la página de la institución educativa <br />{{ ie.name }}</h2>
				<p>Aquí encontrarás información de interés para toda la comunidad educativa que puede ayudar a la orientación sobre los planes y la estructura de la institución educativa.</p>
			</header>
			<span class="image featured"><img src="{% static "/blog/images/pic01.jpg" %}" alt="" /></span>
		</section>


		<div class="row">
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/contacto.jpg" %}" alt="" /></span>
					<h3>Contáctanos</h3>
					<p>Encuentra la dirección física y de correo electrónico de la institución, al igual que los números de contacto.</p>
					<ul class="actions special">
						<li><a href="/blog/contacto" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/fotos.jpg" %}" alt="" /></span>
					<h3>Fotos</h3>
					<p>Conoce la historia de la institución con el paso de los tiempos viendo las fotos guardadas en el archivo.</p>
					<ul class="actions special">
						<li><a href="/blog/fotos" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/calendario.png" %}" alt="" /></span>
					<h3>Calendario</h3>
					<p>Encuentra los planes que tenemos en las próximas fechas, además de fechas pasadas que pueden ser de interés.</p>
					<ul class="actions special">
						<li><a href="/blog/calendario" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured"><img src="{% static "/blog/images/adicional.jpg" %}" alt="" /></span>
					<h3>Contenido adicional</h3>
					<p>Conoce la historia, misión, visión y datos adicionales de la institución educativa.</p>
					<ul class="actions special">
						<li><a href="/blog/adicional" class="button alt">Ver más</a></li>
					</ul>
				</section>
			</div>
		</div>


{% endblock %}
