{% extends "blog/blog_structure.html" %}
{% load static %}

{% block content_blog %}
	{% if can_view %}
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<header>
			<h2>{{ noticia.titulo }}</h2>
		</header>
		<div class="box">
			{% if noticia.imagen != None and noticia.imagen != "" %}
				<span class="image fit">
					<img src="{{ noticia.imagen.url }}">
				</span>
			{% endif%}
			<p style="color:gray;text-align:right;"><i><b>Fecha de edición: </b> {{ noticia.fecha_edicion }}</i></p>
			{% autoescape off %}{{ noticia.cuerpo }}{% endautoescape %}
		</div>
	{% else %}
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
		<header>
			<h2>Error al cargar la noticia</h2>
		</header>
		<div class="box">
			No puedes ver esta página <br />
			<a href="/">Volver al inicio</a>
		</div>
	{% endif %}

{% endblock %}
