{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content %}
{{ form_upload.media }}
{{ form_download.media }}


	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<form method="post" action="/dv_admin/add_data" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="card-header">
						Subir formato excel
					</div>
					<div class="card-body">
						<div class="row justify-content-start">
							{% for field in form_upload %}
								{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
							{% endfor %}
						</div>
					</div>
					<div class="card-footer">
						<input type="hidden" name="tipoForm" value="addData">
						<button class="btn btn-info"><i class="fa fa-upload"></i> Visualizar información</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% if docentes_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Correo</th>
							<th>Celular</th>
							<th>Dirección</th>
							<th>Profesión</th>
							<th>Documento</th>
							<th>Estado</th>
							<th>Sede</th>
						</thead>
						<tbody>
							{% for doc in docentes_lista %}
								<tr>
									<td>{{ doc.id }}</td>
									<td>{{ doc.nombre }}</td>
									<td>{{ doc.apellido }}</td>
									<td>{{ doc.correo }}</td>
									<td>{{ doc.celular }}</td>
									<td>{{ doc.direccion }}</td>
									<td>{{ doc.profesion }}</td>
									<td>{{ doc.documento }}</td>
									<td>{{ doc.estado }}</td>
									<td>{{ doc.sede }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=docentes" class="btn btn-success"><i class="fa fa-save"></i> Agregar Docentes</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}


	{% if asignaturas_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>ID</th>
							<th>Nombre</th>
							<th>Abreviatura</th>
							<th>Área fundamental</th>
							<th>Promedio</th>
							<th>Es convivencia</th>
							<th>Porcentaje</th>
						</thead>
						<tbody>
							{% for asig in asignaturas_lista %}
								<tr>
									<td>{{ asig.id }}</td>
									<td>{{ asig.nombre }}</td>
									<td>{{ asig.abreviatura }}</td>
									<td>{{ asig.fundamental }}</td>
									<td>{{ asig.promedio }}</td>
									<td>{{ asig.convivencia }}</td>
									<td>{{ asig.porcentaje }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=asignaturas" class="btn btn-success"><i class="fa fa-save"></i> Agregar asignaturas</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}


	{% if juicios_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>Descripción</th>
							<th>Asignatura</th>
							<th>Grado</th>
							<th>Periodo</th>
							<th>Año</th>
							<th>Es NEE</th>
						</thead>
						<tbody>
							{% for jui in juicios_lista %}
								<tr>
									<td>{{ jui.descripcion }}</td>
									<td>{{ jui.asignatura }}</td>
									<td>{{ jui.grado }}</td>
									<td>{{ jui.periodo }}</td>
									<td>{{ jui.year }}</td>
									<td>{{ jui.es_nee }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=juicios" class="btn btn-success"><i class="fa fa-save"></i> Agregar Juicios</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}


	{% if asignaciones_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>ID</th>
							<th>Docente</th>
							<th>Asignatura</th>
							<th>Grupo</th>
							<th>h_s</th>
							<th>year</th>
						</thead>
						<tbody>
							{% for asLi in asignaciones_lista %}
								<tr>
									<td>{{ asLi.id }}</td>
									<td>{{ asLi.docente }}</td>
									<td>{{ asLi.asignatura }}</td>
									<td>{{ asLi.grupo }}</td>
									<td>{{ asLi.h_s }}</td>
									<td>{{ asLi.year }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=asignaciones" class="btn btn-success"><i class="fa fa-save"></i> Agregar Asignaciones</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}


	{% if estudiantes_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Correo</th>
							<th>Teléfono</th>
							<th>Dirección</th>
							<th>Profesión</th>
							<th>Documento</th>
							<th>Estado</th>
							<th>Tipo</th>
						</thead>
						<tbody>
							{% for doc in estudiantes_lista %}
								<tr>
									<td>{{ doc.id }}</td>
									<td>{{ doc.nombre }}</td>
									<td>{{ doc.apellido }}</td>
									<td>{{ doc.correo }}</td>
									<td>{{ doc.telefono }}</td>
									<td>{{ doc.direccion }}</td>
									<td>{{ doc.profesion }}</td>
									<td>{{ doc.documento }}</td>
									<td>{{ doc.estado }}</td>
									<td>{{ doc.tipo }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=estudiantes" class="btn btn-success"><i class="fa fa-save"></i> Agregar Estudiantes</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}



	{% if grupos_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>ID</th>
							<th>Nombre</th>
							<th>Sede</th>
							<th>Grado</th>
							<th>Docente</th>
						</thead>
						<tbody>
							{% for doc in grupos_lista %}
								<tr>
									<td>{{ doc.id }}</td>
									<td>{{ doc.nombre }}</td>
									<td>{{ doc.sede }}</td>
									<td>{{ doc.grado }}</td>
									<td>{{ doc.docente }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=grupos" class="btn btn-success"><i class="fa fa-save"></i> Agregar grupos</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}


	{% if notas_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>Asignatura</th>
							<th>Habilitacion</th>
							<th>Inasistencias</th>
							<th>Valor nota</th>
							<th>Periodo</th>
							<th>Estudiante</th>
						</thead>
						<tbody>
							{% for doc in notas_lista %}
								<tr>
									<td>{{ doc.asignatura }}</td>
									<td>{{ doc.habilitacion }}</td>
									<td>{{ doc.inasistencias }}</td>
									<td>{{ doc.valor_nota }}</td>
									<td>{{ doc.periodo }}</td>
									<td>{{ doc.estudiante }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=notas" class="btn btn-success"><i class="fa fa-save"></i> Agregar notas</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}

	{% if acudientes_lista %}
		<hr />
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">

					<table class="table table-striped table-bordered table-hover table-sm" id="mensaje_alerta">
						<thead>
							<th>Nombre</th>
							<th>Identificación</th>
							<th>Dirección</th>
							<th>Estudiante</th>
							<th>Year</th>
						</thead>
						<tbody>
							{% for doc in acudientes_lista %}
								<tr>
									<td>{{ doc.nombre }}</td>
									<td>{{ doc.identificacion }}</td>
									<td>{{ doc.direccion }}</td>
									<td>{{ doc.estudiante }}</td>
									<td>{{ doc.year }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>
			</div>
			<div class="card-footer">
				<form method="post" action="/dv_admin/add_data">
					{% csrf_token %}
					<a href="/dv_admin/add_data?file={{file}}&save&preview=acudientes" class="btn btn-success"><i class="fa fa-save"></i> Agregar acudientes</a>
					<a href="/dv_admin/add_data" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
				</form>
			</div>
		</div>
	{% endif %}

{% endblock %}
