<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Anecdotario :: Davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		{% for page in all_pages %}
			<header>
				<table width="100%" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								{% autoescape off %}{{ cabecera }}{% endautoescape %}
								<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
							</td>
							{% if page.foto_estudiante != None and page.foto_estudiante != "" %}
								<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{page.foto_estudiante.url}}"/></td>
							{% else %}
								<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{% static "/images/default.png" %}" /></td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			</header>

			<table>
				<tbody>
					<tr>
						<td><b>Estudiante: </b></td><td>{{ page.estudiante }}</td>
						<td><b>Grupo</b></td><td>{{ page.grupo }}</td>
						<td><b>Año actual</b></td><td>{{ page.anio }}</td>
					</tr>
					<tr>
						<td><b>Documento</b></td><td>{{ page.identificacion }} ({{ page.tipo_identificacion }})</td>
						<td><b>Sexo</b></td><td>{{ page.sexo }}</td>
					</tr>
				</tbody>
			</table>
			<br />
			{% for periodo in page.periodos %}
				<table style="margin-bottom:10px;">
					<thead>
						<tr>
							<th colspan = 2>{{ periodo.titulo }}</th>
						</tr>
						<tr>
							<th style="width:50%">Áreas perdidas</th>
							<th style="width:50%">Áreas excelentes</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{% autoescape off %}{{periodo.perdidas}}{% endautoescape %}</td>
							<td>{% autoescape off %}{{periodo.excelentes}}{% endautoescape %}</td>
						</tr>
					</tbody>
				</table>
			{% endfor %}

			<table>
				<thead>
					<tr>
						<th colspan=3>Anotaciones</th>
					</tr>
					<tr>
						<th style="width:33%">Positivas</th>
						<th style="width:33%">Negativas</th>
						<th style="width:33%">Áreas pendientes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="min-height:100px;">{% autoescape off %}{{ page.anotaciones_positivas }}{% endautoescape %}</td>
						<td>{% autoescape off %}{{ page.anotaciones_negativas }}{% endautoescape %}</td>
						<td>{% autoescape off %}{{ page.areas_pendientes }}{% endautoescape %}</td>
					</tr>
				</tbody>
			</table>


			{% if page != all_pages|last %}
				<p style="page-break-before: always" ></p>
			{% endif %}
		{% endfor %}

	</body>

</html>
