<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>{{page_title}} :: Davinci</title>
		{% load static %}

		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		{% for page in all_pages %}
			<header>
				<table width="100%" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								{% autoescape off %}{{ cabecera }}{% endautoescape %}
								<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
							</td>
							<td style="width:100px"></td>
						</tr>
					</tbody>
				</table>
			</header>

			<p style="text-align:center;">{% autoescape off %}{{ page.titulo }}{% endautoescape %}</p>

			{% if individual %}
				<table>
					<thead>
						<tr>
							<th>Nro.</th>
							<th>Fecha</th>
							<th>Excusa</th>
							<th>Nro horas</th>
							<th>Concepto</th>
						</tr>
					</thead>
					<tbody>
						{% for data in page.data %}
							<tr>
								<td>{{data.nro}}</td>
								<td>{{data.fecha}}</td>
								<td>{{data.excusa}}</td>
								<td>{{data.horas}}</td>
								<td>{{data.concepto}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<p>
					<b>Inasistencias: </b> {{data.total_inasistencias}}<br/>
					<b>Retardos: </b> {{data.total_retardos}}<br/>
				</p>
			{% else %}
				<table>
					<thead>
						<tr>
							<th>Grupo</th>
							<th>Inasistencias</th>
							<th>Retardos</th>
						</tr>
					</thead>
					<tbody>
						{% for data in page.data %}
							<tr>
								<td>{{data.grupo}}</td>
								<td>{{data.inasistencia}}</td>
								<td>{{data.retardos}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

			{% if page != all_pages|last %}
				<p style="page-break-before: always" ></p>
			{% endif %}
		{% endfor %}

	</body>

</html>
