<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>{{page_title}} :: Davinci</title>
		{% load static %}

		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
			<header>
				<table width="100%" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								<div>
									{% autoescape off %}{{ cabecera }}{% endautoescape %}
								</div>
								<p class="fecha_impresion"><b>Fecha de impresión: </b>
									{% now "d F Y h:i A" %}
								</p>
							</td>
							<td style="width:100px"></td>
						</tr>
					</tbody>
				</table>
			</header>

			<p style="text-align:center;">{{titulo}}</p>

			{% if vacio %}
				<p style="text-align:center;">El docente no tiene registros de inasistencias en la fecha</p>
			{% else %}
				<table>
					<thead>
						<tr>
							<th>Nro.</th>
							<th>Fecha</th>
							<th>Docente</th>
							<th>Nro horas</th>
							<th>Concepto</th>
						</tr>
					</thead>
					<tbody>
						{% for data in all_inasistencias %}
							<tr>
								<td>{{data.nro}}</td>
								<td>{{data.fecha}}</td>
								<td>{{data.docente}}</td>
								<td>{{data.horas}}</td>
								<td>{{data.motivo}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
	</body>

</html>
