<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Boletin :: Davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:10px;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		{% for page in all_pages %}
			<header>
				<table width="100%;" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								{% autoescape off %}{{ cabecera }}{% endautoescape %}
								<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
							</td>
							{% if page.datos_boletin.foto_estudiante != None and page.datos_boletin.foto_estudiante != "" %}
								<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{page.datos_boletin.foto_estudiante.url}}"/></td>
							{% else %}
								<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{% static "/images/default.png" %}" /></td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			</header>

			<p style="text-align:center;">Consolidado de notas del <b>estudiante</b> <i>{{ page.datos_boletin.estudiante }}</i> con <b>identificación</b> {{ page.datos_boletin.identificacion }} de {{ page.datos_boletin.grupo }} cuyo(a) <b>director(a) de grupo</b> es {{ page.datos_boletin.director_grupo }}, <b>{{ initial_periodo.titulo }}</b></p>

			<table class="table_boletines" style="width:75%;margin:auto;font-size:9px;">
				<thead>
					<tr>
						<th style="width:30%;">Área - asignatura</th>
						<th>PC</th>
						<th>Inas</th>
						<th>Val</th>
						<th>H.E.</th>
						{% for per in periodos %}
							<th>{{ per.titulo }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for no in page.notas.areas %}
						<tr class="table-primary">
							<td>{{ no.titulo }}</td>
							<td>100%</td>
							{% for per2 in no.periodos %}
								{% if per2.pk == initial_periodo.pk %}
									<td>-</td>
									<td>{{ per2.valoracion }}</td>
									<td></td>
								{% endif %}
							{% endfor %}
							{% for per in periodos %}
								{% for per2 in no.periodos %}
									{% if per2.pk == per.pk %}
										<td>
											{{ per2.valor }}
											{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
												({{ per2.habilitacion }}*)
											{% endif %}
										</td>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</tr>
						{% for asi in no.asignaturas %}
							<tr class="table-info">
								<td>{{ asi.titulo }}</td>
								<td>{{ asi.porcentaje }}%</td>
								{% for per2 in asi.periodos %}
									{% if per2.pk == initial_periodo.pk %}
										<td>{{ per2.inasistencias }}</td>
										<td>{{ per2.valoracion }}</td>
									{% endif %}
								{% endfor %}
								<td>{{ asi.hs }}</td>
								{% for per in periodos %}
									{% for per2 in asi.periodos %}
										{% if per2.pk == per.pk %}
											<td>
												{{ per2.valor }}
												{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
													({{ per2.habilitacion }}*)
												{% endif %}
											</td>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</tr>
						{% endfor %}
						<tr>
							<td></td>
						</tr>
					{% endfor %}
					{% for no in page.notas.asignaturas %}
						<tr>
							<td>{{ no.titulo }}</td>
							<td>{{ no.porcentaje }}%</td>
							{% for per2 in no.periodos %}
								{% if per2.pk == initial_periodo.pk %}
									<td>{{ per2.inasistencias }}</td>
									<td>{{ per2.valoracion }}</td>
								{% endif %}
							{% endfor %}
							<td>{{ no.hs }}</td>
							{% for per in periodos %}
								{% for per2 in no.periodos %}
									{% if per2.pk == per.pk %}
										<td>
											{{ per2.valor }}
											{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
												({{ per2.habilitacion }}*)
											{% endif %}
										</td>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<br />

			<table style="font-size:8.5px;">
				<thead>
					<tr>
						<th>Asignatura</th>
						<th>Logros</th>
					</tr>
				</thead>
				<tbody>
					{% for indica in indicadores %}
						<tr>
							<td>{{ indica.titulo }} </td>
							<td>
								{% for ind in indica.indicadores %}
									- {{ind}}<br />
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<p style="text-align:center;">El-la estudiante <b>{{ page.datos_boletin.estudiante }}</b> obtuvo un Promedio de <b>{{ page.datos_boletin.promedio }}</b> en el acumulado del periodo, lo cual lo ubica en el puesto número <b>{{ page.datos_boletin.puesto }}</b> de su salón de clases
				{% if page.datos_boletin.perdidas > 0 %}
					pero lastimosamente ha perdido {{ page.datos_boletin.perdidas }} asignatura(s) este periodo.
				{% else %}
					y no ha perdido asignaturas en este periodo.
				{% endif %}
			</p>

			{% if page.datos_boletin.es_final %}
				{% if page.datos_boletin.pierde_anio %}
					<p style="text-align:center;">No superó los desempeños mínimos de las áreas fundamentales con referencia a los estándares básicos y al P.E.I. <b>NO PROMOVIDO</b>.</p>
				{% else %}
					<p style="text-align:center;">Si superó los desempeños mínimos de las áreas fundamentales con referencia a los estándares básicos y al P.E.I. <b>PROMOVIDO</b>.</p>
				{% endif %}
			{% endif %}

			<table border="1" cellpadding="1" cellspacing="1" style="width:100%" class="firmas">
				<tbody>
					<tr>
						<td style="text-align:center">_____________________________________</td>
						<td style="text-align:center">_____________________________________</td>
					</tr>
					<tr>
						<td style="text-align:center">{{nombre_rector}}</td>
						<td style="text-align:center">IRMA LONDOÑO RESTREPO</td>
					</tr>
					<tr>
						<td style="text-align:center">{{identificacion_rector}}</td>
						<td style="text-align:center">C.C. 25.015.927 DE QUIMBAYA</td>
					</tr>
					<tr>
						<td style="text-align:center"><strong>Rector</strong></td>
						<td style="text-align:center"><strong>Auxiliar Administrativa</strong></td>
					</tr>
				</tbody>
			</table>

			{% if page != all_pages|last %}
				<p style="page-break-before: always" ></p>
			{% endif %}
		{% endfor %}

	</body>

</html>
