<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>{{page_title}} :: Davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
						</td>
						{% if foto_estudiante != None and foto_estudiante != "" %}
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{foto_estudiante.url}}"/></td>
						{% else %}
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{% static "/images/default.png" %}" /></td>
						{% endif %}
					</tr>
				</tbody>
			</table>
		</header>

		{% autoescape off %}{{ primera_parte }}{% endautoescape %}

		{% for year in all_years %}
			<hr />
			<p>Notas del Año <b>{{year.year}}</b>, el estudiante estaba inscrito en el grupo <b>{{year.grupo}}</b></p>
			<table>
				<thead>
					<tr>
						<th>Asignatura</th>
						{% for per in year.periodos %}
							<th>{{ per.titulo }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for no in year.notas.areas %}
						<tr class="table-primary">
							<td>{{ no.titulo }}</td>
							{% for per in year.periodos %}
								{% for per2 in no.periodos %}
									{% if per2.pk == per.pk %}
										<td title="{{ per2.valor_native }}">{{ per2.valor }}</td>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</tr>
						{% for asi in no.asignaturas %}
							<tr class="table-info">
								<td>{{ asi.titulo }} ({{ asi.porcentaje }}%)</td>
								{% for per in year.periodos %}
									{% for per2 in asi.periodos %}
										{% if per2.pk == per.pk %}
											<td title="{{ per2.valor_native }}">
												{{ per2.valor }}
												{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
													({{ per2.habilitacion }}*)
												{% endif %}
											</td>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</tr>
						{% endfor %}
						<td></td>
					{% endfor %}
					{% for no in year.notas.asignaturas %}
						<tr>
							<td>{{ no.titulo }}</td>
							{% for per in year.periodos %}
								{% for per2 in no.periodos %}
									{% if per2.pk == per.pk %}
										<td title="{{ per2.valor_native }}">
											{{ per2.valor }}
											{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
												({{ per2.habilitacion }}*)
											{% endif %}
										</td>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td>Promedio</td>
						{% for per2 in year.notas.promedios %}
							{% for per in year.periodos %}
								{% if per2.pk == per.pk %}
									<td title="{{ per2.valor_native }}">
										{{ per2.valor }}
										{% if per2.valor < min_lost and per2.habilitacion >= min_lost %}
											({{ per2.habilitacion }}*)
										{% endif %}
									</td>
								{% endif %}
							{% endfor %}
						{% endfor %}
					</tr>
				</tfoot>
			</table>
			{% if year == all_years|last %}
				<hr />
			{% endif %}
		{% endfor %}

		{% autoescape off %}{{ segunda_parte }}{% endautoescape %}

	</body>

</html>
