<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Consolidado de notas :: Da vinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
						</td>
						<td style="width:100px"></td>
					</tr>
				</tbody>
			</table>
		</header>
		<p>Consolidado del grupo para el periodo {{periodo_titulo}}</p>
		<table>
			<thead>
				<tr>
					<th>Estudiante</th>
					{% for area in areas %}
						<th>{{ area.abreviatura }}</th>
						{% for asignatura in area.asignaturas %}
							<th>{{ asignatura.abreviatura }}</th>
						{% endfor %}
						<th style="width:1px;"></th>
					{% endfor %}
					{% for asignatura in asignaturas %}
						<th>{{ asignatura.abreviatura }}</th>
					{% endfor %}
					<th>Per</th>
					<th>Prom</th>
				</tr>
			</thead>
			<tbody>
				{% for est in estudiantes %}
					<tr>
						<td>{{ est.nombre }}</td>
						{% for area in areas %}
							{% for nota_area in est.notas.areas %}
								{% if nota_area.pk == area.pk %}
									{% for peri in nota_area.periodos %}
										{% if peri.pk == periodo_pk %}
											<td>
												{% if areas_pendientes %}
													{% if peri.valor < min_lost %}
														<i style="color:red;">{{ peri.valor }}</i>
													{% endif %}
												{% else %}
													{% if peri.valor < min_lost %}
														<i style="color:red;">{{ peri.valor }}</i>
													{% else %}
														{{ peri.valor }}
													{% endif %}
												{% endif %}
											</td>
											{% for asignatura in area.asignaturas %}
												{% for nota_asignatura in nota_area.asignaturas %}
													{% if nota_asignatura.pk == asignatura.pk %}
														{% for periodo_nota in nota_asignatura.periodos %}
															{% if periodo_nota.pk == periodo_pk %}
																<td>
																	{% if areas_pendientes %}
																		{% if periodo_nota.valor < min_lost and periodo_nota.habilitacion < min_lost %}
																			<i style="color:red;">{{ periodo_nota.valor }}</i>
																		{% endif %}
																	{% else %}
																		{% if periodo_nota.valor < min_lost %}
																			<i style="color:red;">{{ periodo_nota.valor }}</i>
																		{% else %}
																			{{ periodo_nota.valor }}
																		{% endif %}
																		{% if periodo_nota.valor < min_lost and periodo_nota.habilitacion >= min_lost %}
																			<br />{{ periodo_nota.habilitacion }}*
																		{% endif %}
																	{% endif %}
																</td>
															{% endif %}
														{% endfor %}
													{% endif %}
												{% endfor %}
											{% endfor %}
											<td></td>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						{% for asignatura in asignaturas %}
							{% for nota_asignatura in est.notas.asignaturas %}
								{% if nota_asignatura.pk == asignatura.pk %}
									{% for periodo_nota in nota_asignatura.periodos %}
										{% if periodo_nota.pk == periodo_pk %}
											<td>
												{% if areas_pendientes %}
													{% if periodo_nota.valor < min_lost and periodo_nota.habilitacion < min_lost %}
														<i style="color:red;">{{ periodo_nota.valor }}</i>
													{% endif %}
												{% else %}
													{% if periodo_nota.valor < min_lost %}
														<i style="color:red;">{{ periodo_nota.valor }}</i>
													{% else %}
														{{ periodo_nota.valor }}
													{% endif %}
													{% if periodo_nota.valor < min_lost and periodo_nota.habilitacion >= min_lost %}
														<br />{{ periodo_nota.habilitacion }}*
													{% endif %}
												{% endif %}
											</td>
										{% endif %}
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						<td>{{ est.perdidas }}</td>
						<td>{{ est.promedio }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Total Perdido</th>
					{% for area in areas %}
						<th>{{ area.total_perdidas }}</th>
						{% for asignatura in area.asignaturas %}
							<th>{{ asignatura.total_perdidas }}</th>
						{% endfor %}
						<th style="width:1px;"></th>
					{% endfor %}
					{% for asignatura in asignaturas %}
						<th>{{ asignatura.total_perdidas }}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>Porcentaje perdido</th>
					{% for area in areas %}
						<th>{{ area.porcentaje_perdidas }}</th>
						{% for asignatura in area.asignaturas %}
							<th>{{ asignatura.porcentaje_perdidas }}</th>
						{% endfor %}
						<th style="width:1px;"></th>
					{% endfor %}
					{% for asignatura in asignaturas %}
						<th>{{ asignatura.porcentaje_perdidas }}</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>

	</body>

</html>
