<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Boletin :: Davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
						</td>
						<td style="width:100px"></td>
					</tr>
				</tbody>
			</table>
		</header>

		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th rowspan="2">Sede</th>
					<th rowspan="2">Grado</th>
					<th colspan=2>Aprobados</th>
					<th colspan=2>Reprobados</th>
					<th colspan=2>Inactivos</th>
					<th colspan=2>Retirados</th>
					<th colspan=2>Desertores</th>
					<th colspan=2>Cancelados</th>
					<th rowspan="2">Total</th>
				</tr>
				<tr>
					<th>Masc</th>
					<th>Fem</th>
					<th>Masc</th>
					<th>Fem</th>
					<th>Masc</th>
					<th>Fem</th>
					<th>Masc</th>
					<th>Fem</th>
					<th>Masc</th>
					<th>Fem</th>
					<th>Masc</th>
					<th>Fem</th>
				</tr>
			</thead>

			<tbody>
				{% for sede in sedes_all %}
					{% for grado in sede.grados %}
						<tr>
							<td>{{ sede.titulo }}</td>
							<td>{{ grado.titulo }}</td>
							<td>{{ grado.masc.Aprobados }}</td>
							<td>{{ grado.fem.Aprobados }}</td>
							<td>{{ grado.masc.Reprobados }}</td>
							<td>{{ grado.fem.Reprobados }}</td>
							<td>{{ grado.masc.Inactivos }}</td>
							<td>{{ grado.fem.Inactivos }}</td>
							<td>{{ grado.masc.Retirados }}</td>
							<td>{{ grado.fem.Retirados }}</td>
							<td>{{ grado.masc.Desertores }}</td>
							<td>{{ grado.fem.Desertores }}</td>
							<td>{{ grado.masc.Cancelados }}</td>
							<td>{{ grado.fem.Cancelados }}</td>
							<td>{{ grado.total }}</td>
						</tr>
					{% endfor %}
					<tr>
						<th colspan=2>Total</th>
						<th>{{ sede.masc.Aprobados }}</th>
						<th>{{ sede.fem.Aprobados }}</th>
						<th>{{ sede.masc.Reprobados }}</th>
						<th>{{ sede.fem.Reprobados }}</th>
						<th>{{ sede.masc.Inactivos }}</th>
						<th>{{ sede.fem.Inactivos }}</th>
						<th>{{ sede.masc.Retirados }}</th>
						<th>{{ sede.fem.Retirados }}</th>
						<th>{{ sede.masc.Desertores }}</th>
						<th>{{ sede.fem.Desertores }}</th>
						<th>{{ sede.masc.Cancelados }}</th>
						<th>{{ sede.fem.Cancelados }}</th>
						<th>{{ sede.total }}</th>
					</tr>
				{% endfor %}
			</tbody>

		</table>


	</body>

</html>
