<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Juicios Valorativos :: Da Vinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
						</td>
						<td style="width:100px"></td>
					</tr>
				</tbody>
			</table>
		</header>

		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th>ID</th>
					<th>Descripción</th>
					<th>Periodo</th>
					<th>Asignatura</th>
					<th>Grado</th>
				</tr>
			</thead>
			<tbody>
				{% for juicio in juicios_all %}
					<tr>
						<td>{{ juicio.pk }}</td>
						<td>{{ juicio.descripcion }}</td>
						<td>{{ juicio.periodo }}</td>
						<td>{{ juicio.asignatura }}</td>
						<td>{{ juicio.grado }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>

</html>
