<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Listado de estudiantes :: Davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		{% for page in all_pages %}
			<header>
				<table width="100%" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								{% autoescape off %}{{ cabecera }}{% endautoescape %}
								<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
							</td>
							<td style="width:100px"</td>
						</tr>
					</tbody>
				</table>
			</header>
			<table border="1">
				<thead>
					<tr class="header_color">
						<th colspan="{{ thead|length }}">{{ page.title }}</th>
					</tr>
					<tr>
						{% for th in thead %}
							{% if th.min %}
								<th style="width:10px;">{{ th.column }}</th>
							{% elif th.medium %}
								<th style="width:30px;">{{ th.column }}</th>
							{% else %}
								<th>{{ th.column }}</th>
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for d in page.tabla %}
					<tr>
						{% for est in d %}
							<td>{{est}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if texto_adicional != "" %}
				<hr />
				<div id="texto_adicional">
					{{texto_adicional}}
				</div>
			{% endif %}
			{% if page != all_pages|last %}
				<p style="page-break-before: always;" ></p>
			{% endif %}
		{% endfor %}

	</body>

</html>
