<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>{{page_title}} :: Da vinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/custom_assets/css/pdf/informes.css" %}">

		<style>
			@page {
				size: {{ size_file }} {{ orientacion }};
				margin: {{margins}};
				border: green;
				@bottom-left {
					font-size:11px;
					border-top:solid 1px gray;
					color: gray;
					content: 'Institución Educativa Policarpa Salavarrieta, Davinci Policarpa';
				}
				@bottom-right {
					border-top:solid 1px gray;
				}
			}
		</style>

	</head>

	<body>
		<header>
			<table width="100%" class="tableCabecera">
				<tbody>
					<tr>
						<td style="width:100px"><img style="width:100px" class="imagenCabecera" src="{{escudo}}"/></td>
						<td>
							{% autoescape off %}{{ cabecera }}{% endautoescape %}
							<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
						</td>
						<td style="width:100px"></td>
					</tr>
				</tbody>
			</table>
		</header>
		{% for tabla in tablas %}
			<p>{{ tabla.leyenda }}</p>
			<table>
				<thead>
					<tr>
						<th style="width:40%;">Estudiante</th>
						{% if tabla.add_grupo %}
							<th>Grupo</th>
						{% endif %}
						<th>Promedio</th>
						<th>Puesto</th>
					</tr>
				</thead>
				<tbody>
					{% for est in tabla.estudiantes %}
						<tr>
							<td>{{ est.nombre }}</td>
							{% if tabla.add_grupo %}
								<td>{{est.grupo}}</td>
							{% endif %}
							<td>{{ est.promedio }}</td>
							<td>{{ est.puesto }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}

	</body>

</html>
