{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

{{ form.media }}
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="card">
			<form method="get" action="/docentes/asignacion_guiada">
				<div class="card-body">
					{% for field in form %}
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-info" type="submit" name="view"><i class="fa fa-eye"></i> Ver asignaciónes</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if view_data %}
	<hr />
	<div class="messageBody alert alert-info">
		Si no desea modificar el docente de la asignación, no seleccione nada en el campo "Docente".
	</div>
	<form action="/docentes/asignacion_guiada" method="post">
		{% csrf_token %}
		<div class="card-body">
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>Nro.</th>
						<th>Asignatura</th>
						<th>Grupo</th>
						<th>Actual docente</th>
						<th>HS</th>
						<th>Docente</th>
					</tr>
				</thead>
				<tbody>
					{% for asignacion in asignaciones_all %}
						<tr>
							<td>{{ asignacion.nro }}</td>
							<td>{{ asignacion.asignatura }}</td>
							<td>{{ asignacion.grupo }}</td>
							<td>{{ asignacion.docente }}</td>
							<td><input type="number" class="form-control form-control-sm" style="width:50px;" name="hs{{ asignacion.pk }}" value="{{ asignacion.hs }}"></td>
							<td>
								<select class="select_docentes" name="docente{{ asignacion.pk }}">
								</select>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="card-footer">
			<input type="hidden" name="grupo" value="{{ grupo.pk }}">
			<input type="hidden" name="tipoForm" value="editData">
			<button type="submit" name="guardar" class="btn btn-success"><i class="fa fa-save"></i> Guardar datos</button>
		</div>
	</form>
{% endif %}

{% endblock %}
