{% load bootstrap4 %}
{% load static %}

<hr>
<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="card">
			<form method="get" action="/pdf/docentes/inasistencias" target="_blank">
				<div class="card-header">
					Imprimir inasistencias
				</div>
				<div class="card-body">
					{% for field in form_print %}
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-info" type="submit" name="upload"><i class="fa fa-upload"></i> Imprimir</button>
				</div>
			</form>
		</div>
	</div>
</div>
