{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

{% if mensaje %}
<div class="messageBody alert alert-info">
	{{mensaje}}
</div>
{% endif %}

<div class="messageBody alert alert-info">
	Para agregar los juicios por excel, llena la siguiente plantilla y adjuntala al siguiente formulario <a class="btn btn-sm btn-primary" href="{% static "/templates/juicios_excel.xlsx" %}" target="blank"><i class="fa fa-download"></i> Descargar plantilla</a>
</div>

<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<div class="card">
			<form method="post" action="/docentes/JuiciosExcel" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="card-body">
					{% for field in form_file %}
						{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
					{% endfor %}
				</div>
				<div class="card-footer">
					<input type="hidden" name="tipoForm" value="addData">
					<button class="btn btn-sm btn-info" type="submit" name="upload"><i class="fa fa-upload"></i> Vista previa</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% if preview %}
	{% if not file_exists %}
		<div class="messageBody alert alert-danger">
			Hubo un problema al procesar el archivo, por favor vuelve a cargarlo
		</div>
	{% else %}
		<hr />
		<div class="card">
			<div class="card-header">
				Datos a agregar
			</div>
			<div class="card-body">

				<div class="messageBody alert alert-warning">
					Si está seguro de los datos, presione el botón de ingresar, si no es así, rectifique los datos y vuelva a cargar el archivo excel
				</div>

				<div class="table-responsive">
					<table class="table table-sm table-bordered">
						<thead>
							<tr>
								<th>Descripción</th>
								<th>Periodo</th>
								<th>Asignatura</th>
								<th>Grado</th>
							</tr>
						</thead>
						<tbody>
							{% for data in juicios_lista %}
								<tr>
									{% if data == "error" %}
										<td colspan="4">Error</td>
									{% else %}
										<td>{{ data.descripcion }}</td>
										<td>{{ data.periodo }}</td>
										<td>{{ data.asignatura }}</td>
										<td>{{ data.grado }}</td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<form method="get" action="/docentes/JuiciosExcel">
				<div class="card-footer">
					<input type="hidden" name="save" value="yes">
					<input type="hidden" name="preview" value="yes">
					<input type="hidden" name="file" value="{{ file_name }}">
					<button class="btn btn-sm btn-success" type="submit" name="upload"><i class="fa fa-save"></i> Agregar los datos del archivo</button>
				</div>
			</form>
		</div>

	{% endif %}
{% endif %}

{% endblock %}
