{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}

{% include "docente/data.html" %}

<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<a class="btn btn-xs btn-info" title="Volver a la lista de docentes" href="/docentes"><i class="fa fa-arrow-left"></i> Atrás</a>
				<hr />
				{% if docente.foto != None and docente.foto != "" %}
					<img src="{{ docente.foto.url }}" class="col-md-12" style="border-radius:100%;">
				{% else %}
					<img src="{% static "/assets/images/profile/person-icon.png" %}" class="col-md-12">
				{% endif%}
				{% if form_edit_avatar %}
					<hr />
					<a href="#" data-toggle="modal" data-target="#editAvatar" class="btn btn-info btn-sm" title="Editar foto de perfil del docente"> <i class="fa fa-pencil"></i> </a>
				{% endif %}
			</div>
		</div>
		{% if form_edit_pass %}
		<hr />
		<div class="card">
			<div class="card-body">
				<button class="btn btn-warning" title="Editar contraseña" data-toggle="modal" data-target="#editContrasena"><i class="fa fa-key"></i> Editar contraseña</button>
			</div>
		</div>
		{% endif %}
		{% if propio_perfil %}
			<hr />
			<div class="card">
				<div class="card-body">
					Mi perfil
				</div>
			</div>
		{% endif %}
	</div>

	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h5 class="header-title">
					Docente: {{docente.nombre}} {{docente.apellido}}
					{% if form_edit_data %}
						<button class="btn btn-xs col-md-1 btn-info" title="Editar datos completos" data-toggle="modal" data-target="#editData"><i class="fa fa-pencil"></i></button>
					{% endif %}
				</h5>
				<hr />
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="ti-id-badge"></i> Documento: </b></div>
					<div class="col-md-8">{{ docente.documento }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-group"></i> Sede: </b></div>
					<div class="col-md-8">{{ docente.sede }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-venus-mars"></i> Género: </b></div>
					<div class="col-md-8">{{ docente.genero }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Teléfono - Celular: </b></div>
					<div class="col-md-8">{{ docente.telefono }} - {{ docente.celular }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Fecha registro: </b></div>
					<div class="col-md-8">{{ docente.creation_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Correo Electrónico: </b></div>
					<div class="col-md-8">{{ docente.email }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Dirección: </b></div>
					<div class="col-md-8">{{ docente.direccion }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Estudios: </b></div>
					<div class="col-md-8">{{ docente.estudios }}</div>
				</div>
				Datos de ingreso
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Nombre de usuario: </b></div>
					<div class="col-md-8">{{ docente.username }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar-o"></i> Fecha de último ingreso: </b></div>
					<div class="col-md-8">{{ docente.last_login }}</div>
				</div>
			</div>
		</div>

		<hr />
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-asignacion-tab" data-toggle="pill" href="#pills-asignacion" role="tab" aria-controls="pills-asignacion" aria-selected="true">Asignación</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-graficas-tab" data-toggle="pill" href="#pills-graficas" role="tab" aria-controls="pills-graficas" aria-selected="true">Gráficas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-inasistencias-tab" data-toggle="pill" href="#pills-inasistencias" role="tab" aria-controls="pills-inasistencias" aria-selected="true">Inasistencias</a>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active " id="pills-asignacion" role="tabpanel" aria-labelledby="pills-asignacion-tab">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Asignatura</th>
									<th>Grupo</th>
									<th>Horas efectivas</th>
								</tr>
							</thead>
							<tbody>
								{% for asignacion in asignaciones %}
									<tr>
										<td>{{ asignacion.asignatura }}</td>
										<td>{{ asignacion.grupo }}</td>
										<td>{{ asignacion.horas }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-graficas" role="tabpanel" aria-labelledby="pills-graficas-tab">
						Gráficas
					</div>
					<div class="tab-pane fade" id="pills-inasistencias" role="tabpanel" aria-labelledby="pills-inasistencias-tab">
						{% if empty_inasistencias %}
							El docente no tiene registros de inasistencias.
						{% else %}
							<table class="table table-sm">
								<thead>
									<tr>
										<th>Nro.</th>
										<th>Fecha</th>
										<th>Docente</th>
										<th>Nro horas</th>
										<th>Concepto</th>
									</tr>
								</thead>
								<tbody>
									{% for data in all_inasistencias %}
										<tr>
											<td>{{data.nro}}</td>
											<td>{{data.fecha}}</td>
											<td>{{data.docente}}</td>
											<td>{{data.horas}}</td>
											<td>{{data.motivo}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
						<hr />
						<a target="_blank" href="/pdf/docentes/inasistencias?anio={{year}}&individual&docente={{docente.pk}}" class="btn btn-danger btn-xs col-sm-5" title="Ver asistencia en PDF"><i class="fa fa-file-pdf-o"></i> Generar reporte</a>
					</div>
				</div>
			</div>
		</div>

	</div>



	{% endblock %}
