{% extends "structure.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}



{% if edit_director %}
	<div class="modal fade" id="editDirector">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Editar director de grupo</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in edit_director %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="director">
						<input type="hidden" name="object_id" value="{{ datos_grupo.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Editar</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<div class="row">
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
				<a class="btn btn-xs btn-info" title="Volver a la lista de grupos" href="/configuracion/ListadoGrupos"><i class="fa fa-arrow-left"></i> Atrás</a>
				<hr />
				<img src="{% static "/assets/images/profile/group-icon.png" %}" class="col-md-12">
			</div>
		</div>
	</div>

	<div class="col-md-9">
		<div class="card">
			<div class="card-body">
				<h5 class="header-title">
					{{ datos_grupo.nombre }}
					 | <button class="btn btn-xs col-md-1 btn-info" title="Editar director" data-toggle="modal" data-target="#editDirector"><i class="fa fa-pencil"></i></button>
				</h5>
				<hr />
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="ti-id-badge"></i> Grado: </b></div>
					<div class="col-md-8">{{ datos_grupo.grado }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-group"></i> Director de grupo: </b></div>
					<div class="col-md-8">
						{{ datos_grupo.director }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-group"></i> Nro estudiantes activos: </b></div>
					<div class="col-md-8">{{ datos_grupo.nro_estudiantes }}</div>
				</div>
			</div>
		</div>

		<hr />
		<div class="card">
			<div class="card-body">
				<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-asignacion-tab" data-toggle="pill" href="#pills-asignacion" role="tab" aria-controls="pills-asignacion" aria-selected="true">Informes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-graficas-tab" data-toggle="pill" href="#pills-graficas" role="tab" aria-controls="pills-graficas" aria-selected="true">Estudiantes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-inasistencias-tab" data-toggle="pill" href="#pills-inasistencias" role="tab" aria-controls="pills-inasistencias" aria-selected="true">Gráficas</a>
					</li>
				</ul>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active " id="pills-asignacion" role="tabpanel" aria-labelledby="pills-asignacion-tab">
						<div class="row">
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Hoja de matrícula</h5>
										<a target="_blank" href="/pdf/matricula/{{datos_grupo.pk}}/{{year}}?grupo_completo" class="btn btn-danger btn-xs" title="Ver hoja de matrícula completa (PDF)"><i class="fa fa-file-pdf-o"></i> Normal</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Asistencia</h5>
										<a target="_blank" href="/pdf/asistencia/{{datos_grupo.pk}}/{{year}}?grupo_completo" class="btn btn-danger btn-xs" title="Ver informe de inasistencias detallado (PDF)"><i class="fa fa-file-pdf-o"></i> PDF</a>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Anecdotario</h5>
										<a target="_blank" href="/pdf/anecdotario/{{datos_grupo.pk}}/{{year}}?grupo_completo" class="btn btn-danger btn-xs" title="Ver informe de anecdotario (PDF)"><i class="fa fa-file-pdf-o"></i> PDF</a>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<h5 class="card-title">Boletines</h5>
						{% for per in periodos %}
							<a class="btn btn-danger btn-xs" target="_blank" href="/pdf/boletines/{{datos_grupo.pk}}/{{per.pk}}/{{year}}"><i class="fa fa-file-pdf-o"></i> {{per.titulo}}</a>
						{% endfor %}
					</div>
					<div class="tab-pane fade" id="pills-graficas" role="tabpanel" aria-labelledby="pills-graficas-tab">
						<table class="table table-sm">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Apellido</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for estudiante in lista_estudiantes %}
									<tr>
										<td>{{ estudiante.nombre }}</td>
										<td>{{ estudiante.apellido }}</td>
										<td><a class="btn btn-success btn-xs" title="Ver perfil del estudiante" href="{{ estudiante.url }}"><i class="fa fa-eye"></i></a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade" id="pills-inasistencias" role="tabpanel" aria-labelledby="pills-inasistencias-tab">
						Gráficas
					</div>
				</div>
			</div>
		</div>

	</div>



	{% endblock %}
