{% extends "structure.html" %}

{% block content %}

<div id="messageBody" class="messageBody alert alert-primary">
	<i class="fa fa-info"></i> En esta sección te presentamos los cambios que se van realizando en la plataforma durante el tiempo de su funcionamiento
</div>

<!-- Custom Content start -->
{% for cambio in all_cambios %}
	<div class="card">
		<div class="card-header"><b>Versión {{cambio.nro}}</b> <i>({{cambio.fecha}})</i></div>
		<div class="card-body">
			<ul>
				{% for item in cambio.items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<hr />
{% endfor %}
<!-- Custom Content end -->

{% endblock %}
