{% extends "structure.html" %}
{% load bootstrap4 %}

{% block content %}

{% if success != None %}
	{% if success %}
		<div id="messageBody" class="messageBody alert alert-success">
			Se ha editado con éxito
		</div>
	{% else %}
		<div id="messageBody" class="messageBody alert alert-danger">
			Error al procesar petición
		</div>
	{% endif %}
{% endif %}

<form method="post" action="{{ form_action }}" {{target}} enctype="multipart/form-data">
	{% csrf_token %}
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		{% for item in forms %}
			{% if item.href != "alone" %}
				<li class="nav-item">
					{% if item == forms|first %}
						<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{item.tab}}</a>
					{% else %}
						<a class="nav-link" id="home-tab" data-toggle="tab" href="#{{item.href}}" role="tab" aria-controls="{{item.href}}" aria-selected="true">{{item.tab}}</a>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<div class="tab-content" id="myTabContent" style="min-height:200px;">
		{% for item in forms %}
			{{ item.form.media }}
			{% if item.href != "alone" %}
				{% if item == forms|first %}
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				{% else %}
					<div class="tab-pane fade show" id="{{item.href}}" role="tabpanel" aria-labelledby="{{item.href}}-tab">
				{% endif %}
					<br />
					<div class="row justify-content-start">
					{% if item.completa %}
						{% for field in item.form %}
							{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
						{% endfor %}
					{% else %}
						{% for field in item.form %}
							{% bootstrap_field field form_group_class="col-md-6" field_class="col-md-9" size="small" layout="horizontal" %}
						{% endfor %}
					{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}

	</div>

	{% for item in forms %}
		{% if item.href == "alone" %}
			<hr />
			<div class="row justify-content-start">
			{% for field in item.form %}
				{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-9" size="small" layout="horizontal" %}
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}

	<hr />
	<input type="hidden" name="tipoForm" value="{{ tipo_form }}">
	<input type="hidden" name="object_id" value="{{ object_id }}">
    {% buttons %}
		<button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Realizar petición</button>
		{% if cancelar_link %}
			<a class="btn btn-danger" href="{{ cancelar_link }}"><i class="fa fa-close"></i>Cancelar</a>
		{% endif %}
	{% endbuttons %}
</form>
{% if ayuda %}
	<hr />
	<div id="messageBody" class="messageBody alert alert-primary">
		<h4>Ayuda</h4>
		{% autoescape off %}{{ ayuda }}{% endautoescape %}
	</div>
{% endif %}

{% endblock %}
