{% extends "structure.html" %}

{% block content %}

<div class="row">
	<div class="col-lg-8">
		<div class="row">
			<div class="col-md-6 mt-5 mb-3">
				<div class="card">
					<div class="seo-fact sbg1">
						<div class="p-4 d-flex justify-content-between align-items-center">
							<div class="seofct-icon"><i class="fa fa-graduation-cap"></i> Estudiantes</div>
							<h2>{{nro_estudiantes}}</h2>
						</div>
						<canvas id="seolinechart1" height="50"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-md-5 mb-3">
				<div class="card">
					<div class="seo-fact sbg2">
						<div class="p-4 d-flex justify-content-between align-items-center">
							<div class="seofct-icon"><i class="fa fa-users"></i> Docentes</div>
							<h2>{{nro_docentes}}</h2>
						</div>
						<canvas id="seolinechart2" height="50"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-3 mb-lg-0">
					<div class="card">
						<div class="seo-fact sbg3">
							<div class="p-4 d-flex justify-content-between align-items-center">
								<div class="seofct-icon"><i class="fa fa-calendar-o"></i></div>
								<p style="color:white;"><b>Periodo Final</b> <br>12 Junio 2019 - 13 Agosto 2019</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="seo-fact sbg4">
							<div class="p-4 d-flex justify-content-between align-items-center">
								<div class="seofct-icon"><i class="fa fa-calendar-o"></i></div>
								<p style="color:white;"><b>Cerrado a notas</b> <br>Fecha de apertura en: Abril 19 de 2020</p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!-- seo fact area end -->
	<!-- Social Campain area start -->
	<div class="col-lg-4 mt-5">
		<div class="card">
			<div class="card-body pb-0">
				<h4 class="header-title">Asignaturas más perdidas</h4>
				<div id="socialads" style="height: 245px;"></div>
			</div>
		</div>
	</div>
	<!-- Social Campain area end -->
	<!-- Statistics area start -->
	<div class="col-lg-8 mt-5">
	    <div class="card">
	        <div class="card-body">
	            <h4 class="header-title">Otra cosa</h4>
	            <div id="user-statistics"></div>
	        </div>
	    </div>
	</div>
	<!-- Statistics area end -->
	<!-- Advertising area start -->
	<div class="col-lg-4 mt-5">
	    <div class="card h-full">
	        <div class="card-body">
	            <h4 class="header-title">Áreas más ganadas</h4>
	            <canvas id="seolinechart8" height="233"></canvas>
	        </div>
	    </div>
	</div>
	<!-- Advertising area end -->
	<!-- sales area start -->
	<div class="col-xl-9 col-ml-8 col-lg-8 mt-5">
	    <div class="card">
	        <div class="card-body">
	            <h4 class="header-title">Más cosas</h4>
	            <div id="salesanalytic"></div>
	        </div>
	    </div>
	</div>
	<!-- sales area end -->
	<!-- timeline area start -->
	<div class="col-xl-3 col-ml-4 col-lg-4 mt-5">
	    <div class="card">
	        <div class="card-body">
	            <h4 class="header-title">Calendario</h4>
	            <div class="timeline-area">
	                <div class="timeline-task">
	                    <div class="icon bg1">
	                        <i class="fa fa-envelope"></i>
	                    </div>
	                    <div class="tm-title">
	                        <h4>Rashed sent you an email</h4>
	                        <span class="time"><i class="ti-time"></i>09:35</span>
	                    </div>
	                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse distinctio itaque at.
	                    </p>
	                </div>

	            </div>
	        </div>
	    </div>
	</div>
	<!-- timeline area end -->

</div>

{% load static %}
<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- start amcharts -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<!-- all line chart activation -->
<script src="{% static "/js/line-chart.js" %}"></script>
<!-- all pie chart -->
<script src="{% static "/js/pie-chart.js" %}"></script>
<!-- all bar chart -->
<script src="{% static "/js/bar-chart.js" %}"></script>
<!-- all map chart -->
<script src="{% static "/js/maps.js" %}"></script>


{% endblock %}
