{% extends "structure.html" %}

{% block content %}

<!-- Custom Content start -->
<div class="col-md-12 mt-2">
	<div class="card">
		<div class="card-body">
			<div class="col-sm-12 col-md-8">
				<form method="get" action="/search">
					<input type="search" name="q" value="{{query}}" class="form-control form-control-sm" aria-controls="post_list" placeholder="Ingrese el texto a buscar">
					<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Buscar</button>
				</form>
			</div>
		</div>
	</div>
	<hr />
	<div class="card">
		<div class="card-body">
			<h4 class="header-title">se han encontrado {{ full_items|length }} coincidencias para "{{query}}"</h4>
			<div class="list-group">
				{% for item in full_items %}
				<a href="{{ item.url }}" class="list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">
							{% autoescape off %}{{ item.label }}{% endautoescape %}
						</h5>
						<small class="text-muted">{{ item.url }}</small>
					</div>
					<p class="mb-1"><b>Contiene: </b> {{item.content}}.</p>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Custom Content end -->

{% endblock %}
