<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Da vinci :: {{ page_title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" href="{% static "/assets/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/metisMenu.css" %}">
	<!-- style css -->
	<link rel="stylesheet" href="{% static "/assets/css/typography.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/default-css.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/styles.css" %}">
	<link rel="stylesheet" href="{% static "/assets/css/responsive.css" %}">
	<link rel="stylesheet" href="{% static "/custom_assets/css/sol.css" %}" type="text/css" />

	{% for file in css_files %}
	<link href="{% static "/custom_assets/css/"|add:file %}" rel="stylesheet">
	</link>
	{% endfor %}

	<!-- modernizr css -->
	<script src="{% static "/assets/js/vendor/modernizr-2.8.3.min.js" %}"></script>
	<script src="{% static "/assets/js/vendor/jquery-2.2.4.min.js" %}"></script>

	<link rel="icon" href="{% static "/assets/images/page/favicon.png" %}">
</head>

<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	<!-- preloader area start -->
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- preloader area end -->
	<!-- page container area start -->
	<div class="page-container">
		<!-- sidebar menu area start -->
		<div class="sidebar-menu">
			<div class="sidebar-header">
				<div class="logo">
					<a href="/inicio"><img src="{% static "/assets/images/icon/logo.png" %}" alt="logo"><h5 style="color:white;">{{year}}</h5></a>
				</div>
			</div>
			<div class="main-menu">
				<div class="menu-inner">
					<nav>
						<ul class="metismenu" id="menu">
							{% for men in menu %}
								<li class='{{men.item_class}}'>
									{% if men.url != ""%}
										<a href="{{ men.url }}"><i class="{{ men.icon }}"></i><span>{{ men.label }}</span></a>
									{% else %}
										<a href="javascript:void(0)" aria-expanded="true"><i class="{{ men.icon }}"></i><span>{{ men.label }}</span></a>
										<ul class="collapse">
											{% for m in men.submenu %}
												<li class="{{ m.item_class }}"><a href="{{ m.url }}"><i class="{{ m.icon }}"></i> {{ m.label }}</a></li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}

						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- sidebar menu area end -->
		<!-- main content area start -->
		<div class="main-content">
			<!-- header area start -->
			<!--div class="header-area">
                <div class="row align-items-center">
                    <div class="col-md-12 col-sm-5 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>

                        <ul class="notification-area pull-right">
                            <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                            <li class="dropdown">
                                <i id="mostrar_notificaciones" class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>{{ nro_notificaciones }}</span></i>
                                <div class="dropdown-menu notify-box nt-enveloper-box">
                                    <span class="notify-title">You have {{ nro_notificaciones }} new notifications </span>
                                    <div class="nofity-list">
                                        No hay notificaciones...
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div-->
			<!-- header area end -->
			<!-- page title area start -->
			<div class="page-title-area">
				<div class="row align-items-center no-gutters">

					<div class="col-md-1 clearfix mb-2 glut">
						<div class="nav-btn pull-left">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="close-session">
						{% if user.es_admin %}
							<a class="btn btn-primary btn-sm" href="/administradores/view/{{ datos_user.pk }}"><i class="fa fa-user"></i></a>
						{% elif user.es_estudiante %}
							<a class="btn btn-primary btn-sm" href="/estudiantes/view/{{ datos_user.pk }}"><i class="fa fa-user"></i></a>
						{% elif user.es_docente %}
							<a class="btn btn-primary btn-sm" href="/docentes/view/{{ datos_user.pk }}"><i class="fa fa-user"></i></a>
						{% endif %}
						<a class="btn btn-info btn-sm" href="/inicio"><i class="fa fa-home"></i></a>
						<a class="btn btn-danger btn-sm" href="/logout"><i class="fa fa-close"></i></a>
					</div>

					<div class="col-md-6 title-oculto-head">
						<div class="breadcrumbs-area clearfix">
							<h4 class="page-title pull-left"><a class="btn btn-sm" title="Buscar en general" href="/search"><i class="fa fa-search"></i></a> {{ page_title }}</h4>
						</div>
					</div>


					<div class="col-md-5 title-oculto-head clearfix">
						<div class="user-profile pull-right">
							{% if datos_user.foto != None and datos_user.foto != "" %}
								<img class="avatar user-thumb" src="{{ datos_user.foto.url }}" alt="av">
							{% else %}
								<img class="avatar user-thumb" src="{% static "/assets/images/profile/person-icon.png" %}" alt="av">
							{% endif %}
							<h4 class="user-name dropdown-toggle" data-toggle="dropdown">
								{% if user.es_admin %}
									<string class="kind">Admin: {{ datos_user.nombre }}</string>
								{% elif user.es_estudiante %}
									<string class="kind">Estudiante: {{ datos_user.nombre }}</string>
								{% elif user.es_docente %}
									<string class="kind">Docente:{{ datos_user.nombre }} </string>
								{% endif %}
								<i class="fa fa-angle-down"></i></h4>
							<div class="dropdown-menu">
								{% if user.es_admin %}
									<a class="dropdown-item" href="/administradores/view/{{ datos_user.pk }}">Mi perfil</a>
								{% elif user.es_estudiante %}
									<a class="dropdown-item" href="/estudiantes/view/{{ datos_user.pk }}">Mi perfil</a>
								{% elif user.es_docente %}
									<a class="dropdown-item" href="/docentes/view/{{ datos_user.pk }}">Mi perfil</a>
								{% endif %}
								<a class="dropdown-item" href="/logout/">Cerrar sesión</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- page title area end -->
			<div class="main-content-inner">
				<ul class="breadcrumbs pull-left">
					{% for br in breadcrumb %}
						{% if br.url == "" %}
							<li><span>{{br.label}}</span></li>
						{% else %}
							{% if br.url == "/" %}
								<li><a href="/inicio">{{br.label}}</a></li>
							{% else %}
								<li><a href="{{ br.url }}">{{br.label}}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
				<br />
				{% if can_view_page %}
					{% for tem in aditional_templates %}
						{% include tem %}
				{% endfor %}
				<hr />

				{% if last_error %}
				<div id="messageBody" class="messageBody alert alert-primary">
					El último error fue: <br />
					{{ last_error }}
				</div>
				{% endif %}

				{% block content %}{% endblock %}
				{% else %}
				<hr />
				<div class="card">
					<div class="card-body">
						<div id="messageBody" class="messageBody alert alert-danger" style="text-align:center;">
							<h1>Usted no puede ver esta página</h1>
							<a href="/inicio">Volver a la página de inicio</a>
							<br />
							Se ha enviado un reporte para la revisión de la URL y el usuario que accedió a ella.
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- main content area end -->
		<!-- footer area start-->
		<footer>
			<div class="footer-area">
				<p>
					© Copyright {% now " Y " %}. Todos los derechos reservados. ({{year}})<br />
					Policarpa Salavarrieta, Quimbaya Quindío.<br />
					{% if lang == "es" %}
					<a href="/change/idioma/?idioma=en" title="Quizá no estén todas las traducciones completas, si encuentras alguna que no coincida, ¡hazlo saber!">Página en Inglés</a>
					{% else %}
					<a href="/change/idioma/?idioma=es" title="Quizá no estén todas las traducciones completas, si encuentras alguna que no coincida, ¡hazlo saber!">Spanish Page</a>
					{% endif %}
				</p>
			</div>
		</footer>
		<!-- footer area end-->
	</div>
	<!-- page container area end -->


	<!-- jquery latest version -->
	<!-- bootstrap 4 js -->
	<script src="{% static "/assets/js/popper.min.js" %}"></script>
	<script src="{% static "/assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "/assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "/assets/js/metisMenu.min.js" %}"></script>
	<script src="{% static "/assets/js/jquery.slimscroll.min.js" %}"></script>
	<script src="{% static "/assets/js/jquery.slicknav.min.js" %}"></script>
	<!-- others plugins -->
	<script src="{% static "/assets/js/plugins.js" %}"></script>
	<script src="{% static "/assets/js/scripts.js" %}"></script>

	<script src="{% static "/custom_assets/js/sol.js" %}" type="text/javascript"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

	<script src="{% static "/custom_assets/js/page_handler.js" %}"></script>

	{% for file in js_files %}
	<script src="{% static "/custom_assets/js/"|add:file %}"></script>
	{% endfor %}



</body>

</html>
