{% extends "structure.html" %}

{% block content %}

{% if informacion_adicional %}
	<div id="messageBody" class="messageBody alert alert-primary">
		<b>Información</b><br />
		{% autoescape off %}{{ informacion_adicional }}{% endautoescape %}
	</div>
	<hr />
{% endif %}

{% if success == "True" %}
	<div id="messageBody" class="messageBody alert alert-success">
		<i class="fa fa-check"></i> Petición realizada con éxito
	</div>
{% elif success == "False" %}
	<div id="messageBody" class="messageBody alert alert-danger">
		<i class="fa fa-close"></i> La petición falló
	</div>
{% endif %}


<div class="container">
	<div class="row">
		<div class="col-sm">
			{% if form_add != None or any_can_modify %}
				{% if can_add %}
					<!-- Button to Open the Modal -->
					{% if edit_aparte != True %}
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
							<i class="fa fa-plus-circle"></i> Añadir {{register_name}}
						</button>
					{% else %}
						<a class="btn btn-success" href="{{form_action}}?AddRegister">
							<i class="fa fa-plus-circle"></i> Añadir {{register_name}}
						</a>
					{% endif %}
				{% endif %}
			{% endif %}
			<button type="button" class="btn btn-primary" id="reloadTable">
				<i class="fa fa-retweet"></i> Recargar tabla
			</button>
		</div>
		{% if mostrar_control_activos %}
			<div class="col-sm">
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="solo_activos" checked>
					<label class="custom-control-label" for="solo_activos">Sólo mostrar activos</label>
				</div>
			</div>
		{% endif %}

	</div>
</div>
<hr />
<div class="table-responsive">
	<table id="post_list" class="table table-striped table-bordered table-hover table-sm" style="width:100%">
		<thead>
			<tr>
				{% for col in columns %}
					<th>{{col}}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>
</div>

<input type="hidden" name="href" id="form_action" value="{{form_action}}">

{% endblock %}
