<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ES" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="es">

	<head>
		<meta name="tipo_contenido"  content="text/html;" http-equiv="content-type" charset="utf-8">
		<title>Informe PDF por davinci</title>
		{% load static %}
		<link rel="stylesheet" href="{% static "/assets/custom/css/style_pdf.css" %}">

		<style>
			/*@page {
				size: letter landscape;
				margin: 1cm;
			}*/
		</style>

	</head>

	<body>
		{% for pa in pages %}
			<header>
				<table width="100%" class="tableCabecera">
					<tbody>
						<tr>
							<td style="width:120px"><img class="imagenCabecera" src="{{escudo}}"/></td>
							<td>
								{% autoescape off %}{{ cabecera }}{% endautoescape %}
							</td>
							<td style="width:20%"></td>
						</tr>
					</tbody>
				</table>
			</header>

			<p class="fecha_impresion"><b>Fecha de impresión: </b>{% now "d F Y h:i A" %}</p>
			<table border="1">
				<thead>
					<tr class="header_color">
						<th colspan="{{ thead|length }}">{{ pa.title }}</th>
					</tr>
					<tr>
						{% for th in thead %}
							<th style='width:{{ th.width }}'>{{ th.column }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for d in pa.tabla %}
					<tr>
						{% for est in d %}
						<td>{{est}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if texto_adicional != "" %}
				<hr />
				<div id="texto_adicional">
					{{texto_adicional}}
				</div>
			{% endif %}
			{% if pa != pages|last %}
			<p style="page-break-before: always" ></p>
			{% endif %}
		{% endfor %}

	</body>

</html>
